.section-inner {
  background-size: cover;
  background-position: center center;
}
.acm-slideshow .carousel-indicators {
  bottom: 7.33333333px;
  margin-bottom: 0;
}
.acm-slideshow .carousel-control {
  font-size: 81px;
  background: none;
  display: none;
}
@media screen and (max-width: 767px) {
  .acm-slideshow .carousel-control {
    display: block;
  }
}
.acm-slideshow .carousel-control .fa {
  position: absolute;
  top: 50%;
  margin-top: -40.5px;
}
@media screen and (max-width: 767px) {
  .acm-slideshow .carousel-control .fa {
    left: 11px;
  }
}
.acm-slideshow:hover .carousel-control {
  display: block;
}
.acm-slideshow .style-1 {
  color: #ffffff;
  padding: 110px;
  position: relative;
  text-align: center;
  min-height: unset;
  width: 50%;
  z-index: 2;
}
@media screen and (max-width: 991px) {
  .acm-slideshow .style-1 {
    left: 0;
    width: 100%;
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
@media screen and (max-width: 1199px) {
  .acm-slideshow .style-1 {
    padding: 44px;
  }
}
@media screen and (min-width: 1400px) {
  .acm-slideshow .style-1 {
    padding: 154px;
    min-height: 605px;
    min-height: initial \9;
  }
}
.acm-slideshow .style-1:after {
  content: "";
  background-color: #3498db;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.85;
  filter: alpha(opacity=85);
  z-index: -1;
}
.acm-slideshow .style-1 h3 {
  color: #ffffff;
  font-size: 44px;
  position: relative;
  margin-top: 0;
  margin-bottom: 44px;
}
.acm-slideshow .style-1 h3:after {
  background-color: #ffffff;
  content: "";
  position: absolute;
  height: 1px;
  width: 50%;
  bottom: -22px;
  left: 25%;
}
.acm-slideshow .style-1 p {
  font-size: 16px;
}
@media screen and (max-width: 767px) {
  .acm-slideshow .style-1 p {
    font-size: 14px;
  }
}
.acm-slideshow .bg-slideshow {
  background-size: cover;
  background-position: center center;
}