.ja-ss-slideshow {
  position: relative;
  height: 309px;
}
.ja-slideshow .container {
  position: absolute;
  right: 50%;
  top: 0;
  height: 100%;
}
@media (min-width: 768px) {
  .ja-slideshow .container {
    margin-right: -340px;
    width: 680px;
  }
}
@media (min-width: 992px) {
  .ja-slideshow .container {
    margin-right: -470px;
    width: 940px;
  }
}
@media (min-width: 1200px) {
  .ja-slideshow .container {
    margin-right: -570px;
    width: 1140px;
  }
}
.ja-ss-loading:before {
  content: "";
  display: block;
  background: url("../../images/slideloading.gif") no-repeat center center;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 5;
}
.ja-ss-wrap {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.ja-ss-items {
  width: 100%;
}
.ja-ss-item {
  display: block;
  float: right;
  margin: 0;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  min-height: 260px;
  z-index: 1;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.ja-ss-item.prev {
  display: block;
}
.ja-ss-item.next {
  display: block;
}
.ja-ss-item.curr {
  z-index: 2;
  
}
.ja-ss-item img {
  background: #fff;
  width: 100%;
  max-width: 100%;
}
.ja-ss-desc {
  position: absolute;
  right: 20px;
  top: 48%;
  width: 60%;
  padding: 10px;
  color: #000;
  font-size: 12px;
  line-height: 18px;
  text-align: right;
}
.ja-ss-desc h3 {
  line-height: 1.4;
  margin: 0;
}
.ja-ss-desc h3 a {
  color: inherit;
  line-height: normal;
  text-decoration: none;
}
.ja-ss-desc p {
  font-size: 12px;
  line-height: 18px;
  margin: 10px 0;
}
.ja-ss-thumbs-wrap {
  background: none;
  position: absolute;
  z-index: 999;
  bottom: 0;
  clear: both;
  height: 72px;
  overflow: hidden;
  width: 100%;
}
.ja-ss-thumbs {
  width: 200px;
  text-align: center;
  position: absolute;
  right: 50%;
  margin-right: -100px;
}
.ja-ss-thumbs .ja-ss-thumb {
  width: 10px;
  height: 10px;
  border: 0;
  background: url("../../images/ja-ss-thumb.png");
  background-clip: padding-box;
  cursor: pointer;
  display: inline-block;
  margin: 5px 3px;
  overflow: hidden;
  text-align: center;
  vertical-align: bottom;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.ja-ss-thumbs .ja-ss-thumb.active {
  border: 0;
  opacity: 1;
  filter: alpha(opacity=100);
}
.ja-ss-btns {
  position: absolute;
  top: 50%;
  right: 0;
  width: 100%;
  display: none;
}
.ja-ss-btns span {
  background: url("../../images/ctrl-btns.png") no-repeat scroll right top rgba(0, 0, 0, 0);
  color: #ffffff;
  cursor: pointer;
  display: block;
  margin: 0 0 0 5px;
  padding: 0;
  text-indent: -999em;
  position: absolute;
  float: none;
  width: 22px;
  height: 61px;
  z-index: 2;
}
.ja-ss-btns .ja-ss-prev {
  right: 0;
  margin-right: 28px;
}
.ja-ss-btns .ja-ss-prev:hover {
  background-position: 100% -61px;
}
.ja-ss-btns .ja-ss-next {
  left: 0;
  margin-left: 28px;
  background-position: -22px 0;
}
.ja-ss-btns .ja-ss-next:hover {
  background-position: -22px -61px;
}
.ja-slideshow:hover .ja-ss-btns {
  display: block;
}