.docs-section {
  margin-bottom: 44px;
}
.docs-section .page-header {
  border-bottom: 4px solid #dddddd;
  margin-bottom: 22px;
  padding-bottom: 11px;
}
.docs-section .page-header h1 {
  margin: 0;
  line-height: normal;
}
.docs-section .form-group {
  margin-bottom: 22px;
}
.example-type h1,
.example-type h2,
.example-type h3,
.example-type h4,
.example-type h5,
.example-type h6 {
  margin: 22px 0;
}
.example-colors .swatch-item {
  width: 100%;
  min-height: 100px;
  position: relative;
  background: #333333;
  color: #ffffff;
  margin-bottom: 22px;
}
@media (min-width: 1200px) {
  .example-colors .swatch-item {
    min-height: 123px;
  }
}
.example-colors .swatch-item dl {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 20px;
  margin: 0;
}
.example-colors .color-brand-primary {
  background: #7ac673;
}
.example-colors .color-brand-secondary {
  background: #428bca;
}
.example-colors .color-brand-success {
  background: #5cb85c;
}
.example-colors .color-brand-danger {
  background: #d9534f;
}
.example-colors .color-brand-warning {
  background: #f0ad4e;
}
.example-colors .color-brand-info {
  background: #5bc0de;
}
.example-colors .color-gray-darker {
  background: #272727;
}
.example-colors .color-gray-dark {
  background: #333333;
}
.example-colors .color-gray {
  background: #555555;
}
.example-colors .color-gray-light {
  background: #999999;
  color: #333333;
}
.example-colors .color-gray-lighter {
  background: #eeeeee;
  color: #333333;
}
.example-colors .color-gray-lightest {
  background: #f7f7f7;
  color: #333333;
}
.example-buttons .btn,
.example-inputs .btn,
.example-buttons .form-control,
.example-inputs .form-control {
  box-shadow: none;
  width: 100%;
  margin-bottom: 22px;
}
.example-buttons ul,
.example-inputs ul {
  padding: 0;
  list-style: none;
}
@media screen and (min-width: 768px) {
  .example-buttons ul li,
  .example-inputs ul li {
    float: left;
    width: 30%;
    padding-right: 22px;
  }
}
.jumbotron h1 {
  font-size: 44px;
  line-height: 44px;
}
@media (min-width: 768px) {
  .jumbotron h1 {
    font-size: 63px;
    line-height: 88px;
  }
}
.masthead h1 {
  font-size: 44px;
  line-height: 44px;
}
@media (min-width: 768px) {
  .masthead h1 {
    font-size: 81px;
    line-height: 88px;
  }
}