@media screen and (max-width: 991px) {
  .acm-container-slide .carousel-inner {
    height: auto !important;
  }
}
.acm-container-slide .carousel-inner .section-inner {
  padding: 0;
}
.acm-container-slide .carousel-indicators {
  bottom: 7.33333333px;
  margin-bottom: 0;
}
.acm-container-slide .carousel-control {
  background: none;
  display: none;
  font-size: 81px;
}
.acm-container-slide .carousel-control .fa {
  position: absolute;
  top: 50%;
  margin-top: -40.5px;
}
@media screen and (max-width: 767px) {
  .acm-container-slide .carousel-control .fa {
    left: 11px;
  }
}
.acm-container-slide .carousel-control.right .fa {
  right: 40px \9;
}
.acm-container-slide .carousel-control.left .fa {
  left: 40px \9;
}
.acm-container-slide:hover .carousel-control {
  display: block;
}
.acm-container-slide.slideshow-thumbs .carousel-indicators {
  background: #f7f7f7;
  border-bottom: 1px solid #dddddd;
  bottom: auto;
  clear: both;
  display: block;
  height: 70px;
  left: auto;
  margin: 0;
  position: relative;
  text-align: left;
  width: 100%;
  z-index: 9;
}
@media (max-width: 767px) {
  .acm-container-slide.slideshow-thumbs .carousel-indicators {
    display: none;
  }
}
.acm-container-slide.slideshow-thumbs .carousel-indicators li {
  background: #f7f7f7;
  border-right: 1px solid #dddddd;
  border-bottom: 0;
  border-radius: 0;
  color: #555555;
  cursor: pointer;
  display: block;
  float: left;
  font-size: 12px;
  font-weight: 300;
  height: 69px;
  margin: 0;
  padding: 0 0 0 80px;
  position: relative;
  text-indent: 0;
  vertical-align: middle;
}
.acm-container-slide.slideshow-thumbs .carousel-indicators li .number {
  background: #eeeeee;
  border-radius: 50%;
  font-size: 12px;
  font-style: normal;
  height: 32px;
  left: 30px;
  line-height: 34px;
  position: absolute;
  text-align: center;
  top: 18px;
  width: 32px;
}
@media (max-width: 991px) {
  .acm-container-slide.slideshow-thumbs .carousel-indicators li {
    padding-left: 40px;
  }
  .acm-container-slide.slideshow-thumbs .carousel-indicators li .number {
    display: none;
  }
}
.acm-container-slide.slideshow-thumbs .carousel-indicators li.active:before {
  border-color: #f7f7f7 transparent;
  border-style: solid;
  border-width: 0 8px 8px;
  content: "";
  left: 50%;
  margin-left: -6px;
  position: absolute;
  top: -8px;
}
.acm-container-slide.slideshow-thumbs .carousel-indicators li.active .number {
  background-color: #f56a14;
  color: #ffffff;
}
.acm-container-slide.slideshow-thumbs .carousel-indicators li .title {
  display: block;
  margin-top: 14px;
}
.acm-container-slide.slideshow-thumbs .carousel-indicators li .title.no-intro {
  margin-top: 21px;
}
.acm-container-slide.slideshow-thumbs .carousel-indicators li .title strong {
  display: block;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
@media (min-width: 768px) and (max-width: 991px) {
  .acm-container-slide.slideshow-thumbs .carousel-indicators li .title strong {
    font-size: 12px;
  }
}



.acm-container-slide.slide-3 .section-inner {
  padding: 0;
}
@media screen and (max-width: 991px) {
  .acm-container-slide.slide-3 {
    padding-top: 40px;
  }
}
.acm-container-slide.slide-3 .acm-features.style-6 .features-content {
  padding-top: 80px;
}
@media screen and (min-width: 992px) {
  .acm-container-slide.slide-3 .acm-features.style-6 .features-content {
    padding-top: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .acm-container-slide.slide-3 .acm-features.style-6 .features-content {
    padding-top: 120px;
  }
}
.acm-container-slide.slide-3 .carousel-inner > .item {
  -webkit-transition: left 400ms;
  -o-transition: left 400ms;
  transition: left 400ms;
}
.acm-container-slide.slide-3 .carousel-ctrl {
  left: 40px;
  position: absolute;
  top: 0;
}
@media screen and (min-width: 992px) {
  .acm-container-slide.slide-3 .carousel-ctrl {
    top: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .acm-container-slide.slide-3 .carousel-ctrl {
    left: 80px;
  }
}
.acm-container-slide.slide-3 .carousel-ctrl .indicators-menu {
  color: #999999;
  position: relative;
  float: left;
  letter-spacing: 2px;
}
.acm-container-slide.slide-3 .carousel-ctrl .indicators-menu:hover {
  color: #333333;
  cursor: pointer;
}
.acm-container-slide.slide-3 .carousel-ctrl .carousel-indicators {
  bottom: 0;
  display: block;
  float: left;
  left: auto;
  margin-left: 11px;
  position: relative;
  width: auto;
}
.acm-container-slide.slide-3 .carousel-ctrl .carousel-indicators li {
  color: rgba(0, 0, 0, 0.3);
  border-radius: 0;
  border-width: 2px;
  border-color: #999999;
  height: 12px;
  line-height: 30px;
  margin: 0 10px 0 0;
  overflow: hidden;
  text-indent: -30px;
  transition: text-indent 350ms, color 600ms;
  width: 12px;
}
.acm-container-slide.slide-3 .carousel-ctrl .carousel-indicators li:hover {
  background-color: #333333;
  border-color: #333333;
}
.acm-container-slide.slide-3 .carousel-ctrl .carousel-indicators li.active {
  background-color: #f56a14;
  border-color: #f56a14;
  font-weight: 700;
}
.acm-container-slide.slide-3 .carousel-ctrl .carousel-indicators.show-menu {
  top: 0;
}
.acm-container-slide.slide-3 .carousel-ctrl .carousel-indicators.show-menu li {
  border: 0;
  color: #999999;
  line-height: inherit;
  text-indent: 0;
  height: auto;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  width: auto;
}
.acm-container-slide.slide-3 .carousel-ctrl .carousel-indicators.show-menu li:hover,
.acm-container-slide.slide-3 .carousel-ctrl .carousel-indicators.show-menu li:active,
.acm-container-slide.slide-3 .carousel-ctrl .carousel-indicators.show-menu li:focus,
.acm-container-slide.slide-3 .carousel-ctrl .carousel-indicators.show-menu li.active {
  color: #333333;
  background: none;
}
@media screen and (min-width: 992px) {
  .acm-container-slide.slide-3.ft-right .carousel-ctrl {
    left: 50%;
    margin-left: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .acm-container-slide.slide-3.ft-right .carousel-ctrl {
    left: 50%;
    margin-left: 80px;
  }
}

.acm-container-slide.slide-4 .mask-bottom {
  background: url("../../../../../../acm/container-slideshow/images/border.png") repeat-x left bottom;
  bottom: 0;
  left: 0;
  padding-bottom: 5px;
  position: absolute;
  right: 0;
}
.acm-container-slide.slide-4 .mask-bottom:before {
  background: url("../../../../../../acm/container-slideshow/images/tree-snow.png") no-repeat right top;
  bottom: -30px;
  content: "";
  height: 82px;
  position: absolute;
  right: 40px;
  width: 960px;
}
.acm-container-slide.slide-4 .carousel-indicators li {
  background: url("../../../../../../acm/container-slideshow/images/thumb.png") no-repeat;
  border: 0;
  width: 14px;
  height: 14px;
}
.acm-container-slide.slide-4 .carousel-indicators li.active {
  background-image: url("../../../../../../acm/container-slideshow/images/thumb-active.png");
  margin: 1px;
}