.acm-cta .call-to-action-image {
  margin-top: 60px;
  margin-bottom: -88px;
}
.acm-cta .call-to-action-image img {
  max-width: 100%;
}
@media screen and (max-width: 767px) {
  .acm-cta .call-to-action-image {
    margin-bottom: -44px;
  }
}
@media (max-width: 991px) {
  .section-user-showcase {
    background-image: none !important;
  }
  .section-user-showcase .cta-2 {
    padding-top: 88px;
  }
}
.acm-cta.style-1 a {
  margin-bottom: 11px;
  margin-right: 11px;
}

.acm-cta.style-2 {
  padding-top: 176px;
  padding-bottom: 88px;
  background-repeat: no-repeat;
  background-position: bottom center;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .acm-cta.style-2 {
    padding-top: 66px;
    padding-bottom: 66px;
  }
}
@media (max-width: 991px) {
  .acm-cta.style-2 {
    background-image: none !important;
  }
}
@media screen and (max-width: 991px) {
  .section .acm-cta.style-2,
  .t3-module .acm-cta.style-2 {
    margin: 0;
    padding-top: 22px;
    padding-bottom: 22px;
  }
}
.acm-cta.style-2 .cta-showcase-item {
  position: relative;
}
.acm-cta.style-2 .cta-showcase-item .cta-showcase-badge {
  position: absolute;
  top: -176px;
  width: 130px;
  margin-top: -65px;
  z-index: 9;
}
.acm-cta.style-2 .cta-showcase-item .cta-showcase-badge img {
  width: 100%;
  height: auto;
}
.acm-cta.style-2 .cta-showcase-item .cta-showcase-header {
  margin-top: 0;
  margin-bottom: 30px;
  letter-spacing: 1px;
  line-height: 1.275;
  color: #ffffff;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .acm-cta.style-2 .cta-showcase-item .cta-showcase-header {
    font-size: 44px;
  }
}
.acm-cta.style-2 .cta-showcase-item .cta-showcase-intro {
  color: #999999;
}
.acm-cta.style-2 .cta-showcase-item .cta-showcase-actions {
  margin: 22px 0 0;
  padding: 22px 0 0;
  border-top: 1px solid #555555;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.acm-cta.style-2 .cta-showcase-item .cta-showcase-actions a {
  font-weight: bold;
  display: inline-block;
  margin-right: 22px;
}
.acm-cta.style-2 .cta-showcase-item .cta-showcase-actions a:last-child {
  margin-right: 0;
}
.acm-cta.style-2 .cta-showcase-item .cta-showcase-actions a:hover,
.acm-cta.style-2 .cta-showcase-item .cta-showcase-actions a:focus {
  color: #ffffff;
}
.acm-cta.style-3 .cta-showcase-header {
  margin-top: 0;
}
.acm-cta.style-3 .cta-showcase-actions {
  margin-top: 44px;
}
.acm-cta.style-3 .cta-showcase-actions a {
  display: inline-block;
  margin-bottom: 11px;
  margin-right: 11px;
}
@media screen and (max-width: 767px) {
  .acm-cta.style-3 .cta-showcase-actions a {
    display: block;
    margin-left: 0;
  }
}
.acm-cta.style-3 .cta-showcase-actions .fa {
  margin-right: 5.5px;
}
.acm-cta.style-3.light {
  color: #555555;
}
.acm-cta.style-3.light .cta-showcase-header {
  color: #333333;
}
.acm-cta.style-3.bg-image {
  padding-bottom: 88px;
  padding-top: 88px;
}
.acm-cta.style-4 {
  text-align: center;
}
.acm-cta.style-4 a {
  color: #ffffff;
  display: block;
  font-size: 16px;
  font-weight: 400;
  padding: 66px;
  letter-spacing: 0.33em;
  text-transform: uppercase;
}
.acm-cta.style-4 a .fa {
  margin-left: 11px;
  font-size: 14px;
  top: -2px;
  position: relative;
}
@media (max-width: 767px) {
  .acm-cta.style-4 a {
    font-size: 14px;
  }
}
.acm-cta.brand-primary {
  background-color: #3498db;
  -webkit-transition: background 0.35s;
  -o-transition: background 0.35s;
  transition: background 0.35s;
}
.acm-cta.brand-primary:hover {
  background-color: #217dbb;
}
.acm-cta.brand-secondary {
  background-color: #428bca;
  -webkit-transition: background 0.35s;
  -o-transition: background 0.35s;
  transition: background 0.35s;
}
.acm-cta.brand-secondary:hover {
  background-color: #3071a9;
}
.acm-cta.brand-success {
  background-color: #5cb85c;
  -webkit-transition: background 0.35s;
  -o-transition: background 0.35s;
  transition: background 0.35s;
}
.acm-cta.brand-success:hover {
  background-color: #449d44;
}
.acm-cta.brand-warning {
  background-color: #f0ad4e;
  -webkit-transition: background 0.35s;
  -o-transition: background 0.35s;
  transition: background 0.35s;
}
.acm-cta.brand-warning:hover {
  background-color: #ec971f;
}
.acm-cta.brand-danger {
  background-color: #d9534f;
  -webkit-transition: background 0.35s;
  -o-transition: background 0.35s;
  transition: background 0.35s;
}
.acm-cta.brand-danger:hover {
  background-color: #c9302c;
}
.acm-cta.brand-info {
  background-color: #5bc0de;
  -webkit-transition: background 0.35s;
  -o-transition: background 0.35s;
  transition: background 0.35s;
}
.acm-cta.brand-info:hover {
  background-color: #31b0d5;
}
.acm-cta.gray-light {
  background-color: #eeeeee;
  -webkit-transition: background 0.35s;
  -o-transition: background 0.35s;
  transition: background 0.35s;
}
.acm-cta.gray-light a {
  color: #333333;
}
.acm-cta.gray-light:hover {
  background-color: #d5d5d5;
}
.acm-cta.gray-dark {
  background-color: #272727;
  -webkit-transition: background 0.35s;
  -o-transition: background 0.35s;
  transition: background 0.35s;
}
.acm-cta.gray-dark:hover {
  background-color: #0e0e0e;
}