.uber-footer {
  background: #f6f6f6;
  color: #a8a8a8;
}
.uber-footer:before,
.uber-footer:after {
  content: " ";
  display: table;
}
.uber-footer:after {
  clear: both;
}
.uber-footer.affix {
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
.uber-footer small {
  display: block;
  font-size: 100%;
}
.uber-footer.light-color,
.uber-footer.white-color {
  background: #f7f7f7;
  color: #555555;
}
.uber-footer.light-color .footer-left > h2,
.uber-footer.white-color .footer-left > h2 {
  color: #272727;
}
.uber-footer.light-color .footer-left a,
.uber-footer.white-color .footer-left a {
  color: #543131;
  border-bottom-color: #543131;
}
.uber-footer.light-color .footer-left a:hover,
.uber-footer.white-color .footer-left a:hover,
.uber-footer.light-color .footer-left a:active,
.uber-footer.white-color .footer-left a:active,
.uber-footer.light-color .footer-left a:focus,
.uber-footer.white-color .footer-left a:focus {
  color: #241515;
  border-bottom-color: #241515;
}
.uber-footer.light-color .uber-social .fa,
.uber-footer.white-color .uber-social .fa {
  background: rgba(0, 0, 0, 0.5);
}
.uber-footer.light-color .footer-right,
.uber-footer.white-color .footer-right {
  background: rgba(0, 0, 0, 0.05);
}
.uber-footer.light-color .footer-right .acymailing_module_form .acymailing_introtext,
.uber-footer.white-color .footer-right .acymailing_module_form .acymailing_introtext {
  color: #555555;
}
.uber-footer.light-color h2.brand-name,
.uber-footer.white-color h2.brand-name {
  text-align: right;
  margin-top: 0;
}
.uber-footer.light-color .uber-spotlight .t3-module,
.uber-footer.white-color .uber-spotlight .t3-module {
  background: none;
}
.uber-footer.light-color .uber-spotlight .t3-module ul > li > a:hover,
.uber-footer.white-color .uber-spotlight .t3-module ul > li > a:hover,
.uber-footer.light-color .uber-spotlight .t3-module ul > li > a:focus,
.uber-footer.white-color .uber-spotlight .t3-module ul > li > a:focus,
.uber-footer.light-color .uber-spotlight .t3-module ul > li > a:active,
.uber-footer.white-color .uber-spotlight .t3-module ul > li > a:active {
  color: #543131;
}
.uber-footer.light-color .uber-spotlight .uber-contact-info.style-1 .info-list dd a:hover,
.uber-footer.white-color .uber-spotlight .uber-contact-info.style-1 .info-list dd a:hover,
.uber-footer.light-color .uber-spotlight .uber-contact-info.style-1 .info-list dd a:focus,
.uber-footer.white-color .uber-spotlight .uber-contact-info.style-1 .info-list dd a:focus,
.uber-footer.light-color .uber-spotlight .uber-contact-info.style-1 .info-list dd a:active,
.uber-footer.white-color .uber-spotlight .uber-contact-info.style-1 .info-list dd a:active {
  color: #543131;
  border-color: #543131;
}
.uber-footer.white-color {
  background: #ffffff;
}
.uber-footer.white-color .uber-spotlight .uber-contact-info.style-1 .info-list dd a:hover,
.uber-footer.white-color .uber-spotlight .uber-contact-info.style-1 .info-list dd a:focus,
.uber-footer.white-color .uber-spotlight .uber-contact-info.style-1 .info-list dd a:active {
  color: #543131;
  border-color: #543131;
}
.uber-footer.highlight-color {
  background: #543131;
  color: #eeeeee;
}
.uber-footer.highlight-color .footer-left > h2 {
  color: #ffffff;
}
.uber-footer.highlight-color .footer-left a {
  color: #ffffff;
  border-bottom-color: #ffffff;
}
.uber-footer.highlight-color .footer-left a:hover,
.uber-footer.highlight-color .footer-left a:active,
.uber-footer.highlight-color .footer-left a:focus {
  color: #241515;
  border-bottom-color: #241515;
}
.uber-footer.highlight-color .uber-social .fa {
  background: rgba(0, 0, 0, 0.1);
}
.uber-footer.highlight-color .footer-right {
  background: rgba(0, 0, 0, 0.1);
}
.uber-footer.highlight-color .footer-right .acymailing_module_form .acymailing_introtext {
  color: #eeeeee;
}
.back-to-top {
  position: fixed;
  right: 22px;
  top: auto;
  z-index: 999;
  display: none;
  bottom: -60px;
}
@media (min-width: 768px) {
  .back-to-top {
    display: block;
  }
}
.back-to-top .btn {
  background: #eeeeee;
  background: rgba(255, 255, 255, 0.9);
  border: 0;
  color: #543131;
  height: 52px;
  width: 52px;
  border-radius: 50%;
  line-height: 1;
  padding: 0;
  text-align: center;
  font-size: 22px;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
  opacity: 0.7;
  filter: alpha(opacity=70);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.back-to-top .btn:hover,
.back-to-top .btn:active,
.back-to-top .btn:focus {
  background: #543131;
  color: #ffffff;
  outline: none;
  opacity: 1;
  filter: alpha(opacity=100);
}
.back-to-top.affix,
.back-to-top.affix-top {
  bottom: 66px;
}
.back-to-top a {
  outline: none;
}
.back-to-top i {
  font-size: 25px;
  line-height: 16px;
}
.uber-spotlight {
  font-size: 12px;
  padding: 0;
  overflow: hidden;
}
.uber-spotlight:before,
.uber-spotlight:after {
  content: " ";
  display: table;
}
.uber-spotlight:after {
  clear: both;
}
.uber-spotlight .container {
  padding-top: 22px;
  padding-bottom: 22px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .uber-spotlight .container {
    padding-top: 44px;
    padding-bottom: 44px;
  }
}
.uber-spotlight hr {
  background: #999999;
  background-color: rgba(0, 0, 0, 0.1);
  border: 0;
  bottom: 0;
  height: 1px;
  margin: 0;
  left: 15px;
  position: absolute;
  right: 15px;
}
.uber-spotlight .t3-module {
  background: #f6f6f6;
  color: #a8a8a8;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
.uber-spotlight .t3-module + .t3-module {
  margin-top: 22px;
}
.uber-spotlight .t3-module .module-title {
  color: #666666;
  font-size: 25px;
  margin-bottom: 11px;
  text-transform: none;
}
.uber-spotlight .t3-module ul {
  list-style: none;
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.uber-spotlight .t3-module ul > li {
  line-height: 24px;
}
.uber-spotlight .t3-module ul > li > a {
  color: #a8a8a8;
}
.uber-spotlight .t3-module ul > li > a:hover,
.uber-spotlight .t3-module ul > li > a:active,
.uber-spotlight .t3-module ul > li > a:focus {
  color: #ffffff;
}
.uber-spotlight .t3-module ul > li.active a {
  font-weight: 400;
}
.uber-spotlight .section-title {
  display: none;
}
.uber-spotlight .uber-contact-info.style-1 .info-list dt span,
.uber-spotlight .uber-contact-info.style-2 .info-list dt span {
  display: none;
}
.uber-spotlight .uber-contact-info.style-1 .info-list dd,
.uber-spotlight .uber-contact-info.style-2 .info-list dd {
  margin-bottom: 5.5px;
}
.uber-spotlight .uber-contact-info.style-1 .info-list dd a,
.uber-spotlight .uber-contact-info.style-2 .info-list dd a {
  color: inherit;
  border-color: inherit;
}
.uber-spotlight .uber-contact-info.style-1 .info-list dd a:hover,
.uber-spotlight .uber-contact-info.style-2 .info-list dd a:hover,
.uber-spotlight .uber-contact-info.style-1 .info-list dd a:focus,
.uber-spotlight .uber-contact-info.style-2 .info-list dd a:focus,
.uber-spotlight .uber-contact-info.style-1 .info-list dd a:active,
.uber-spotlight .uber-contact-info.style-2 .info-list dd a:active {
  color: #ffffff;
  border-color: #ffffff;
}
.uber-footer-inner {
  padding: 44px 0;
}
.uber-footer-inner:before,
.uber-footer-inner:after {
  content: " ";
  display: table;
}
.uber-footer-inner:after {
  clear: both;
}
.uber-footer-inner small {
  margin-bottom: 5px;
  font-size: 13px;
}
.footer-left {
  margin-bottom: 44px;
}
@media (min-width: 992px) {
  .footer-left {
    margin-bottom: 0;
  }
}
.footer-left > h2 {
  margin-top: 0;
  font-size: 25px;
  text-transform: uppercase;
}
.footer-left a {
  color: #a8a8a8;
  border-bottom: 1px solid #a8a8a8;
}
.footer-left a:hover,
.footer-left a:active,
.footer-left a:focus {
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
.footer-left .uber-social {
  margin-top: 22px;
  text-align: left;
}
.footer-right {
  padding: 22px;
  background: rgba(255, 255, 255, 0.05);
}
.footer-right .acymailing_module_form .acymailing_introtext {
  font-size: 13px;
  line-height: 1.625;
  color: #999999;
  text-align: left;
  margin-bottom: 22px !important;
}
.footer-right .acymailing_form {
  width: 100%;
}
.footer-right .acymailing_form .acyfield_email {
  width: 72%;
}
.footer-right .acymailing_form .btn {
  font-size: 16px;
  font-weight: 400;
  text-transform: none;
  margin-bottom: 5px;
}
.footer-right .acyterms {
  font-size: 12px;
  padding: 5px;
}
.footer-right .acyterms .checkbox {
  display: inline-block;
  min-height: 14px;
  vertical-align: top;
}
.footer-right .acysubbuttons {
  text-align: left;
}
.footer-right .acyfield_html label {
  font-size: 12px;
  font-weight: 400;
}
.footer-right .acymailing_mootoolsbutton > p {
  margin: 0;
}
.footer-right .acymailing_mootoolsbutton .modal {
  position: static;
  padding: 10px 20px;
  color: #ffffff;
  background-color: #543131;
  border-color: #442828;
}
.footer-right .acymailing_mootoolsbutton .modal:hover,
.footer-right .acymailing_mootoolsbutton .modal:focus,
.footer-right .acymailing_mootoolsbutton .modal:active,
.footer-right .acymailing_mootoolsbutton .modal.active,
.open > .dropdown-toggle.footer-right .acymailing_mootoolsbutton .modal {
  color: #ffffff;
  background-color: #341e1e;
  border-color: #1d1111;
}
.footer-right .acymailing_mootoolsbutton .modal:active,
.footer-right .acymailing_mootoolsbutton .modal.active,
.open > .dropdown-toggle.footer-right .acymailing_mootoolsbutton .modal {
  background-image: none;
}
.footer-right .acymailing_mootoolsbutton .modal.disabled,
.footer-right .acymailing_mootoolsbutton .modal[disabled],
fieldset[disabled] .footer-right .acymailing_mootoolsbutton .modal,
.footer-right .acymailing_mootoolsbutton .modal.disabled:hover,
.footer-right .acymailing_mootoolsbutton .modal[disabled]:hover,
fieldset[disabled] .footer-right .acymailing_mootoolsbutton .modal:hover,
.footer-right .acymailing_mootoolsbutton .modal.disabled:focus,
.footer-right .acymailing_mootoolsbutton .modal[disabled]:focus,
fieldset[disabled] .footer-right .acymailing_mootoolsbutton .modal:focus,
.footer-right .acymailing_mootoolsbutton .modal.disabled:active,
.footer-right .acymailing_mootoolsbutton .modal[disabled]:active,
fieldset[disabled] .footer-right .acymailing_mootoolsbutton .modal:active,
.footer-right .acymailing_mootoolsbutton .modal.disabled.active,
.footer-right .acymailing_mootoolsbutton .modal[disabled].active,
fieldset[disabled] .footer-right .acymailing_mootoolsbutton .modal.active {
  background-color: #543131;
  border-color: #442828;
}
.footer-right .acymailing_mootoolsbutton .modal .badge {
  color: #543131;
  background-color: #ffffff;
}
.poweredby:before,
.poweredby:after {
  content: " ";
  display: table;
}
.poweredby:after {
  clear: both;
}
@media screen and (min-width: 991px) {
  .poweredby {
    text-align: left;
  }
}
.poweredby .t3-logo,
.poweredby .t3-logo-small {
  display: inline-block;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.uber-social {
  text-align: right;
}
.uber-social a {
  display: inline-block;
  border: none;
  margin-right: 5px;
}
.uber-social a:hover,
.uber-social a:active,
.uber-social a:focus {
  border: none;
}
.uber-social .fa {
  background: rgba(255, 255, 255, 0.05);
  border-bottom: 0 none;
  border-radius: 50%;
  color: #ffffff;
  font-size: 22px;
  height: 42px;
  line-height: 42px;
  margin: 0 5px 0 0;
  text-align: center;
  width: 42px;
}
.uber-social .fa.fa-facebook:hover {
  background: #3b5998;
}
.uber-social .fa.fa-twitter:hover {
  background: #3a92c8;
}
.uber-social .fa.fa-google-plus:hover {
  background: #dd4b39;
}
.uber-social .fa.fa-pinterest:hover {
  background: #cb2027;
}
.uber-social .fa.fa-linkedin:hover {
  background: #287bbc;
}


.uber-footer.footer-4 {
  background-position: center bottom !important;
  background-repeat: no-repeat;
  background-size: 100% auto !important;
}
.uber-footer.footer-4 hr {
  display: none;
}
.uber-footer.footer-4 .wrap.breadcrumb {
  background: url(../../../../../../acm/footer/images/breadcrumb-snow.png) repeat-x left top;
  padding-top: 44px;
  margin-top: -11px;
}
.uber-footer.footer-4 .wrap.breadcrumb .breadcrumb {
  background: none;
}
.uber-footer.footer-5 .uber-footer-inner {
  padding: 0;
  position: relative;
}
.uber-footer.footer-5 .uber-footer-inner .small {
  margin-bottom: 0;
}
.uber-footer.footer-5 .uber-footer-inner .back-to-top {
  position: absolute;
  right: 30px;
  bottom: auto;
  top: 11px;
}
.uber-footer.footer-5 .uber-footer-inner .back-to-top .btn {
  background: none;
  padding: 0;
  box-shadow: none;
  font-size: 14px;
  height: auto;
  width: auto;
}
.uber-footer.footer-5 .footer-left .nav li {
  float: left;
  margin-top: 0;
  padding: 11px 0;
  margin-right: 22px;
}
.uber-footer.footer-5 .footer-left .nav li a {
  border: none;
  background-color: transparent;
  padding: 0;
}
.uber-footer.footer-5 .footer-right {
  background-color: transparent;
  padding: 11px 0;
  text-align: right;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .uber-footer.footer-5 .footer-right {
    padding-right: 44px;
  }
}
.uber-footer.highlight-color .uber-footer-inner .back-to-top .btn {
  color: #ffffff;
}
.uber-footer.highlight-color .footer-left .nav li.active a {
  color: #ffffff;
  border-bottom: 1px dotted #ffffff;
}
.uber-footer.highlight-color .footer-left .nav a:hover,
.uber-footer.highlight-color .footer-left .nav a:focus,
.uber-footer.highlight-color .footer-left .nav a:active {
  color: #ffffff;
  border-bottom: 1px dotted #ffffff;
}
.uber-footer.highlight-color .footer-right a {
  color: #ffffff;
  border-bottom: 1px dotted #ffffff;
}