.ja-slideshow {
  margin-top: 40px;
}
.ja-slideshow + .t3-mainbody {
  padding-top: 80px;
}
.ja-ss-slideshow {
  position: relative;
  height: 309px;
}
.ja-ss-loading {
  background: none;
}
.ja-ss-loading:before {
  content: "";
  display: block;
  background: url("../../../images/slideloading.gif") no-repeat center center #ffffff;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 5;
}
.ja-ss-wrap {
  background: url("../../../images/background-slideshow.jpg") no-repeat;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.ja-ss-items {
  width: 100%;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.ja-ss-item {
  display: block;
  float: right;
  margin: 0;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  min-height: 260px;
  z-index: 1;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.ja-ss-item.prev {
  display: block;
}
.ja-ss-item.next {
  display: block;
}
.ja-ss-item.curr {
  z-index: 2;
  
}
.ja-ss-item img {
  width: 100%;
  max-width: 100%;
}
.ja-ss-desc {
  background: none;
  position: absolute;
  bottom: 140px;
  color: #000000;
  text-align: right;
  padding-right: 110px;
  top: 40px;
  z-index: 3;
  width: 50%;
}
@media (min-width: 1200px) {
  .ja-ss-desc {
    top: 180px;
    width: 45%;
  }
}
.ja-ss-desc h3 {
  background: #000000;
  color: #ffffff;
  display: inline;
  margin: 0;
  text-transform: uppercase;
  font-size: 25px;
  line-height: 1.1;
  margin-bottom: 22px;
}
@media (min-width: 992px) {
  .ja-ss-desc h3 {
    font-size: 44px;
  }
}
.ja-ss-desc h3 a {
  color: inherit;
  line-height: normal;
  text-decoration: none;
}
.ja-ss-desc p {
  color: #555555;
  margin-top: 22px;
}
.ja-ss-desc .btn {
  margin-top: 22px;
}
.ja-ss-btns {
  opacity: 0;
}
@media screen and (max-width: 1199px) {
  .ja-ss-btns {
    opacity: 1;
  }
}
.ja-ss-btns span {
  background: url("../../../images/ctrl-btns.png") no-repeat top right;
  color: #fff;
  cursor: pointer;
  display: block;
  float: right;
  height: 40px;
  margin-top: -20px;
  padding: 0;
  width: 40px;
  text-indent: -999em;
  top: 50%;
  position: absolute;
  z-index: 100;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .ja-ss-btns span {
    margin-top: -30px;
  }
}
.ja-ss-wrap:hover .ja-ss-btns {
  opacity: 1;
}
.ja-ss-btns .ja-ss-prev {
  background-position: 100% 0;
  right: 40px;
  opacity: 0.3;
}
.ja-ss-btns .ja-ss-prev:hover {
  background-position: right bottom;
  left: 760px;
  opacity: 1;
}
@media screen and (max-width: 991px) {
  .ja-ss-btns .ja-ss-prev:hover {
    left: 620px;
  }
}
.ja-ss-btns .ja-ss-next {
  background-position: -40px 0;
  left: 40px;
  opacity: 0.3;
}
.ja-ss-btns .ja-ss-next:hover {
  background-position: -40px bottom;
  opacity: 1;
}
.ja-ss-btns .ja-ss-stop {
  background-position: -80px 0;
  display: none;
}
.ja-ss-btns .ja-ss-stop:hover {
  background-position: -80px bottom;
  left: 280%;
}
.ja-ss-btns .ja-ss-play {
  background-position: -120px 0;
  display: none;
}
.ja-ss-btns .ja-ss-play:hover {
  background-position: -120px bottom;
  display: none;
}
.ja-ss-btns .ja-ss-playback {
  background-position: left 0;
  display: none;
}
.ja-ss-btns .ja-ss-playback:hover {
  background-position: left bottom;
  display: none;
}
.ja-ss-thumbs-wrap {
  clear: both;
  position: absolute;
  bottom: 50px;
  overflow: hidden;
  z-index: 9;
  right: 22px;
  bottom: 22px;
}

.ja-ss-thumbs {
  margin: 0;
  padding-left: 22px;
  top: 0;
  text-align: left;
  width: auto !important;
  
  white-space: nowrap;
  transform: translateX(0) !important;
  -moz-transform: translateX(0) !important;
  -ms-transform: translateX(0) !important;
  -webkit-transform: translateX(0) !important;
  
}
.ja-ss-thumbs .ja-ss-thumb {
  background: #999999;
  display: inline-block;
  overflow: hidden;
  margin: 0 3px;
  text-align: center;
  vertical-align: bottom;
  cursor: pointer;
  background-clip: padding-box;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #ffffff;
}
.ja-ss-thumbs .ja-ss-thumb img {
  display: none;
}
.ja-ss-thumbs .ja-ss-thumb.active {
  background: #3498db;
}
.ja-ss-thumbs .ja-ss-thumb.active img {
  opacity: 1;
}
.ie9 .ja-ss-thumbs-wrap {
  z-index: 200;
  left: -485px;
}
.ie9 .ja-ss-thumbs-wrap .ja-ss-thumbie {
  width: auto !important;
}
.ie9 .ja-ss-thumbs-wrap .ja-ss-thumbie .ja-ss-thumbs {
  width: auto !important;
  margin-left: 25px;
  right: 0 !important;
}
.ie9 .ja-ss-btns {
  display: inline !important;
}
.ie8 .ja-ss-thumbs-wrap .ja-ss-thumbie .ja-ss-thumbs {
  width: auto !important;
  margin-left: 25px;
}