/* Reset Style ---*/
.clearfix {
    *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}
.clearfix:after {
    clear: both;
}

div ul.ja-k2filter li {
	background: none;
	margin-bottom: 20px;
	overflow: visible;
	padding: 0;
}

.ja-k2filter.vertical-layout,
.ja-k2filter.horizontal-layout {
	margin: 0;
}

.ja-k2filter.vertical-layout li {
  float: left;
  width: 100%;
}

/* Layout style ---*/
ul.ja-k2filter li input[type=radio],
ul.ja-k2filter li input[type=checkbox]{
	float: left;
	margin: 0 5px 0 0;
}

ul.ja-k2filter li label,
ul.ja-k2filter li label.radio,
ul.ja-k2filter li label.checkbox {
  line-height: 1.3;
	margin: 0 0 0 0;
	padding-left: 0;
}

input:focus,
textarea:focus {
	background: #fff;
	border-color: rgba(82, 168, 236, 0.8);
	outline: 0;
	outline: thin dotted \9; /* Filter for IE9 */
	
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

/* Check box */
input[type=checkbox],
label.lb-checkbox {
	background: none;
	border: 0;
	display: inline-block;
	height: auto;
	margin: 0 0 10px;
	padding: 0;
	vertical-align: middle;
}

/* Radio */
input[type=radio],
label.radiobtn {
	background: none;
	border: 0;
	display: inline-block;
	margin: 0 0 10px;
	padding: 0;
	vertical-align: middle;
}

label.lb-checkbox {
	margin-right: 10px;
	min-height: 0;
}

select:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}





.ja-k2filter input[type=text],
.ja-k2filter select {
  background-color: #fff;
  border: 1px solid #ccc;
  color: #666;
  display: inline-block;
  font-size: 14px;
  min-height: 30px;
  margin-bottom: 9px;
  min-width: 99%;
  min-width: 90\%; /* Fix for IE8 */
  max-width: 99%;
  padding: 4px 6px;
  line-height: 30px;
  width: auto;
  
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  transition: border linear .2s, box-shadow linear .2s;
  
  -o-transition: border linear .2s, box-shadow linear .2s;
  -moz-transition: border linear .2s, box-shadow linear .2s;
  -webkit-transition: border linear .2s, box-shadow linear .2s;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.ja-k2filter.horizontal-layout .keyword-options label {
    float: left;
    margin-right: 10px;
}

.ja-k2filter input.date {
  min-width: 10px;
}

/* Date */
ul.ja-k2filter li p {
	display: block;
	margin: 0;
	position: relative;
}

ul.ja-k2filter li p.left {
  float: left;
}

ul.ja-k2filter li p img {
	display: inline !important;
}

ul.ja-k2filter li p input.date {
	margin-right: 5px;
	min-width: 0;
	vertical-align: middle;
}

/* Magic select ---*/
.ja-k2filter .ja-magic-select {
	position: absolute !important;
	top: 44px;
	left: 0px;
	background: #FFFFFF;

	border-radius: 2px;
	border: 1px solid #AAAAAA;
	display: none;
	margin-bottom: 5px;
	padding: 10px;
	position: relative;
	width: 90%;
	box-shadow: 0 0 3px rgba(0,0,0,.1);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	z-index: 10;
}

.ja-k2filter .ja-magic-select ul {
	margin: 0;
	overflow: hidden;
	padding-left: 0px;
}

.ja-k2filter .ja-magic-select .arrow {
	background: url(arrow.png) no-repeat left top;
	display: none;
	position: absolute;
	top: -12px;
	left: 10px;
	width: 14px;
	height: 12px;
}

.ja-k2filter .ja-magic-select .btn-close {
	background: url(btn-close.png) no-repeat center center #ccc;
	border: 1px solid #999;
	border-radius: 3px;
	display: block;
	height: 12px;
	position: absolute;
	right: 8px;
	top: 8px;
	text-indent: -999em;
	width: 12px;
}

.ja-k2filter .ja-magic-select .btn-close:hover {
	background-color: #690;
	border-color: #690;
	cursor: pointer;
}

.ja-k2filter .ja-magic-select ul li .icon {
	
	background: url(icon-none.png) no-repeat 0 0;
	color: #666;
	font-size: 11px;
	padding-left: 20px;
	margin: 0px 5px;
	width: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;

}

ul.ja-k2filter li.magic-select {
	
	
	position: relative;
}

.ja-k2filter .ja-magic-select ul li:hover {
	cursor: pointer;
	background-color: #3498db;
	color: #ffffff;
}

.ja-k2filter .ja-magic-select li.selected .icon{
	background: url(icon-check.png) no-repeat 0 0;
	color: #000000;
}

.ja-k2filter .ja-magic-select-container {
	vertical-align: top;
	position: absolute;
	left: 134px;
	top: 3px;
	z-index: 9;
}

/* Horizontal layout ---*/
div ul.horizontal-layout li {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	float: left;
	padding: 0px 10px;
	position: relative;
	min-height: 46px;
}

ul.horizontal-layout li input.btn {
	float: left !important;
	min-width: 100px;
}

ul.horizontal-layout li:last-child,
ul.horizontal-layout li.last-item {
	width: 100%;
}

ul.ja-k2filter {
	display: block;
	padding: 0 3px !important;
	list-style: none;
}

ul.ja-k2filter div.ja-magic-select ul li {
	background-position: 0 0 !important;
	float: none;
	font-size: 14px;
	padding: 4px 4px 4px 0px !important;
	margin-bottom: 10px;
	border-radius: 2px;
	min-height: initial;
	
}

ul.ja-k2filter div.ja-magic-select ul li.disabled {
  color: #ccc;
  background-position: 0 0 !important;
  float: none;
  padding-left: 20px !important;
}

ul.ja-k2filter .ja-magic-select-container span {
	background: #FFFFFF;
	border: 1px solid #E1E1E8;
	border-radius: 3px;
	color: #666;
	display: block;
	
	font-size: 14px;
	margin: 2px 4px 4px 4px;
	padding: 0px 20px 0px 5px;
	position: relative;
	white-space: nowrap;
}

ul.ja-k2filter .ja-magic-select-container span:hover {
	border-color: #999;
}

ul.ja-k2filter .ja-magic-select-container span span.remove {
	background: url(remove-gray.png) no-repeat right center;
	border: 0;
	cursor: pointer;
	height: 10px;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 5px;
	top: 5px;
	width: 10px;
}

ul.ja-k2filter .ja-magic-select-container span.remove:hover {
	background-image: url(remove.png);
}

ul.ja-k2filter label button.select {
	/*background: #fff;
	border: 1px solid #ccc;
	border-radius: 3px;
	color: #6D2E8B;
	font-size: 13px;
	
	padding: 3px 5px;
	overflow: hidden;
	vertical-align: middle;
	;*/
	display: inline-block !important;
	font-weight: normal;
	height: 36px;
	font-size: 14px;
}

ul.ja-k2filter label button.select:hover,
ul.ja-k2filter label button.select:focus,
ul.ja-k2filter label button.select:active {
	/*background: #6D2E8B;;
	border: 1px solid #ccc;
	color: #fff;
	text-decoration: none;*/
}

ul.ja-k2filter label button.select.opened {
	/*background: #fff;
	border-color: #ddd;
	color: #ccc;*/
}

/* Vertical layout */
ul.vertical-layout li {
	display: block;
	clear: both;
	position: relative;
}

ul.vertical-layout li label.group-label {
	position: relative;
}

/* Ajax Loading */
#jak2-loading {
  background: url("ajax-loading.gif") center bottom no-repeat #91D0F2;
  border-radius: 3px;
  color: #fff;
  display: block;
  height: 50px;
  font-weight: bold;
  left: 50%;
  margin-left: -200px;
  padding: 10px 0;
  position: fixed;
  bottom: 0px;
  text-align: center;
  width: 400px;
  z-index: 999;
}

/* All form elements ---*/
.ja-k2filter label {
	display: block;
	font-size: 13px;
	line-height: 1;
}

.ja-k2filter label.group-label {
	font-weight: bold;
	font-size: 0px;
	
	vertical-align: top;
}

.ja-k2filter select.multiple {
	height: auto;
}

.ja-k2filter label .presenter {
	float:right;
	font-weight: normal;
}

.ja-k2filter label .itemRatingList {
	background: url(transparent_star.gif) repeat-x left top;
	display: inline-block;
	position:relative;
	height: 25px;
	float: none;
	margin: 0;
	vertical-align: middle;
	width: 125px;
}

.ja-k2filter .itemRatingList span.active,
.ja-k2filter .itemRatingList .itemCurrentRating {
  background: url(transparent_star.gif) repeat-x left center;
  height: 25px;
}

.ja-k2filter .itemCurrentRatingNote {
    font-size: 90%;
    font-weight: normal;
}

.ja-k2filter .itemRatingList li {
  display: inline;
  background: none;
  padding: 0;
  margin-bottom: 0 !important;
}

.ja-k2filter .itemRatingList span.srange,
.ja-k2filter .itemRatingList .itemCurrentRating {
  position: absolute;
  top: 0;
  left: 0;
  text-indent: -1000px;
  height: 25px;
  line-height: 25px;
  outline: none;
  overflow: hidden;
  border: none;
  cursor: pointer;
}

.ja-k2filter .itemRatingList span.active {
  background-position: left bottom;
}

.ja-k2filter .itemRatingList span.one-star {
  width: 20%;
  z-index: 6;
}

.ja-k2filter .itemRatingList span.two-stars {
  width: 40%;
  z-index: 5;
}

.ja-k2filter .itemRatingList span.three-stars {
  width: 60%;
  z-index: 4;
}

.ja-k2filter .itemRatingList span.four-stars {
  width: 80%;
  z-index: 3;
}

.ja-k2filter .itemRatingList span.five-stars {
  width: 100%;
  z-index: 2;
}


/* Autocompleter */
ul.autocompleter-choices {
	position:absolute;
	margin:0;
	padding:0;
	list-style:none;
	border:1px solid #EEEEEE;
	background-color:white;
	border-right-color:#DDDDDD;
	border-bottom-color:#DDDDDD;
	text-align:left;
	z-index:50;
}

ul.autocompleter-choices li {
	background: none;
	position: relative;
	padding: 0.1em 1.5em 0.1em 1em;
	cursor: pointer;
	font-weight: normal;
	font-size: 1em;
}

ul.autocompleter-choices li:hover,
ul.autocompleter-choices li.autocompleter-selected {
	background-color: #444;
	color: #fff;
	cursor: pointer;
}

ul.autocompleter-choices span.autocompleter-queried {
	font-weight: bold;
}

ul.autocompleter-choices li.autocompleter-selected span.autocompleter-queried {
	color: #9FCFFF;
}

/*override jquery ui */
.ja-k2filter .accordion h4 {
  margin: 10px 0 0 0;
}

.ja-k2filter .ui-icon {
  height: 16px;
  width: 16px;
  background-repeat: no-repeat;
  display: block;
  overflow: hidden;
  text-indent: -99999px;
}

.ja-k2filter .ui-icon {
  right: 0.5em;
  margin-top: -8px;
  position: absolute;
  top: 50%;
}

.ja-k2filter h4 .expanded {
  background: url("../jquery/images/arrow_expanded.png");
}

.ja-k2filter h4 .collapsed {
  background: url("../jquery/images/arrow_collapsed.png");
}

.jak2shareurl a{
	background: url("link.png") no-repeat scroll 5px center #F5F5F5;
    border: 1px solid #EEE;
    color: #444444;
	display: none;
    margin: 5px 0 0 0;
    padding: 1px 0 1px 25px;
    font-size: 11px;
}
.date-error{border: 1px solid #f00 !important;}

.ja-k2-hint { color: #666; font-size: 11px; }
.ja-k2-hint .ja-search-operator{ color: #BB3A00; font-weight: bold; }

.jak2-tooltip {
	position: absolute;
	z-index: 1030;
	display: block;
	visibility: visible;
	font-size: 11px;
	line-height: 1.4;
	opacity: 1;
	filter: alpha(opacity=1);
	max-width:550px;
	text-align:left;
	border:1px solid #FFBB33;
	background:#FCECCF;
}
.jak2-tooltip .tip-title {
	border-bottom: 1px solid #FFBB33;
	padding: 5px 10px;
    font-weight: normal;
}
.jak2-tooltip .tip-text {
	padding: 5px 10px;
}
.jak2-tooltip.in {
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.jak2-tooltip.top {
	margin-top: -3px;
	padding: 5px 0;
}
.jak2-tooltip.right {
	margin-left: 3px;
	padding: 0 5px;
}
.jak2-tooltip.bottom {
	margin-top: 3px;
	padding: 5px 0;
}
.jak2-tooltip.left {
	margin-left: -3px;
	padding: 0 5px;
}
.jak2-tooltip-inner {
	max-width: 200px;
	padding: 8px;
	color: #fff;
	text-align: center;
	text-decoration: none;
	background-color: #000;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.jak2-tooltip-arrow {
	position: absolute;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
}
.jak2-tooltip.top .jak2-tooltip-arrow {
	bottom: 0;
	left: 50%;
	margin-left: -5px;
	border-width: 5px 5px 0;
	border-top-color: #000;
}
.jak2-tooltip.right .jak2-tooltip-arrow {
	top: 50%;
	left: 0;
	margin-top: -5px;
	border-width: 5px 5px 5px 0;
	border-right-color: #000;
}

.magic-select .group-label{
	display: inline-block;
}
.jak2-tooltip.left .jak2-tooltip-arrow {
	top: 50%;
	right: 0;
	margin-top: -5px;
	border-width: 5px 0 5px 5px;
	border-left-color: #000;
}
.jak2-tooltip.bottom .jak2-tooltip-arrow {
	top: 0;
	left: 50%;
	margin-left: -5px;
	border-width: 0 5px 5px;
	border-bottom-color: #000;
}