@media (max-width: 768px){
	
	.catItemImageBlock{
		height: auto;
	}
	
	.itemContainer{
		display: block;
		width: 100% !important;	
	}
	div ul.horizontal-layout > li{
		display:block;
		width: 100% !important;
	}
	
	div.catItemBody{
		text-align: center;
		margin-bottom: 10px;
		padding: 10px !important;
	}
	
	#blockTop td{
		display:block;
		width: 100%;
	}
	
	#blockTop {
		margin-top: 0px !important;
	}
	
	
}

@media (min-width: 768px){
	
	.catItemImageBlock{
		height: 160px;
	}
	
	div.catItemBody{
		padding: 10px !important;
	}
	
	div ul.horizontal-layout > li{
		display:block;
		width: 50% !important;
	}
}


@media (min-width: 992px){
	.catItemImageBlock{
		height: 206px;
	}
	
	div ul.horizontal-layout > li{
		display:block;
		width: 33% !important;
	}
}

@media (min-width: 1200px){
	.catItemImageBlock{
		height: 250px;
	}
	
	div ul.horizontal-layout > li{
		display:block;
		width: 25% !important;
	}
}

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Lato:400,700);

@font-face {
  font-family: 'AvidOmnesLight';
  src: url('../fonts/AvidOmnes/AvidOmnes-Light.otf');
  font-weight: normal;
  font-style: normal;
}

body, input, p, select, div { 
	font-family: "Source Sans Pro" !important;
}

h2,h3,h4,h5,h6,h7 {
	font-family: "Lato" !important;
	font-weight: normal !important;
}

h1 {
	font-family: "AvidOmnesLight" !important;
}

.button2 {
border-radius: 5px;
font-family: Arial;
color: #ffffff;
font-size: 13px;
background: #3498db;
padding: 5px 20px 5px 20px;
text-decoration: none;
border: 1px solid transparent;
font-size: 16px;
}

body.modal .itemMeta {
	display: none;
}

#back-to-top .btn{
	color: #FFFFFF !important;
	border: 2px solid #FFFFFF !important;
}
.ja-intro.ja-intro-1 {
	padding-bottom: 0px !important;
}

.k2Container .catItemHeader{
	display: none;
}

div.catItemHeader{
	display: none !important;
}


.catItemImageBlock{
	position: relative;
	width: 100%;
	text-align: center !important;
	
	text-align: center;
	overflow:hidden;
	font: 0px/0 a; 
	background-color: black;
	margin: 0px !important;
	padding: 0px !important;
}

.pseudoImg{
	display: inline-block;
	height: 100%;
	vertical-align:middle;
}

.imgWrap {
	display: inline-block !important;
	vertical-align:middle;
}

.imgWrap > img {
	width: 100% !important;
	height: auto;
	transition: width 0.6s;
}

.clr {
	display: none !important;
}

.catItemBody {
	background-color: white;	
	height: 96px;
	font: 0px/0 a; 
	padding: 20px !important;
	border-radius: 0px 0px 3px 3px;
}

a.imgWrap:hover > img{
	width: 104% !important;
	transition: width 0.5s;
}

.t3-mainbody h3 {
	font-size: 22px;
	padding: 0px;
	margin: 0px;
	display: inline-block;
	vertical-align: middle;
}

a.imgWrap:hover > .blueOverlay{
	opacity: 1;
	-moz-opacity: 1;
	filter: alpha(opacity=100);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

.blueOverlay{
	background-color: rgba(0,107,182, 0.80);;
	color: white;
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-ms-transform: scale(1.3);
	-o-transform: scale(1.3);
	transform: scale(1.3);
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
	text-align: center;
}

.blueOverlay .arrow{
	font-size: 38px;
	line-height: 42px;
	height: 30px;
	width: 30px;
	top: 50%;
	margin-top: -38px;
	margin-left: -12px;
	left: 50%;
	position: absolute;
	transform:scale(1,2); /* W3C */
    -webkit-transform:scale(1,2); /* Safari and Chrome */
    -moz-transform:scale(1,2); /* Firefox */
    -ms-transform:scale(1,2); /* IE 9 */
    -o-transform:scale(1,2); /* Opera */
   
}

.blueOverlay .arrow:before{
	content : ">";
	font-weight: normal;
	 text-rendering: optimizelegibility;
    font-family: "SSGizmo";
}

#itemExtraFields{
	width: 30%;
}
#itemImageBlock{
	width: 70%
}
#itemImageBlock, #itemExtraFields{
	
	vertical-align: top;
}

#blockTop{
	margin-top: 15px;
}

#blockTop .social{
	display: block;
	float: none;
	padding: 10px 0px;
}


#t3-mainbody{
	background-color: #959595;
}	
#k2Container.itemView{
	background: #FFFFFF;
	padding: 10px;
	margin: 20px 0px;
	border-radius: 5px;
}

