.logo {
  width: auto;
  padding-right: 0;
  text-align: center;
  height: 26px;
  line-height: 26px;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .logo {
    border-right: 1px solid #dddddd;
    text-align: left;
  }
}
.logo a {
  display: block;
  height: 26px;
  line-height: 26px;
  margin: 0;
}
.logo .dropdown-toggle {
  padding-left: 7.5px;
  padding-right: 7.5px;
  margin-left: -7.5px;
  background: none;
  color: #333333;
  border: 0;
  height: 26px;
  margin-top: -4px;
}
.logo .dropdown-toggle .fa {
  font-weight: 700;
  color: #777777;
}
.logo .dropdown-toggle:hover,
.logo .dropdown-toggle:focus,
.logo .dropdown-toggle:active {
  color: #ffffff;
  background: none;
  border: 0;
  outline: none;
  box-shadow: none;
}
.logo.open .dropdown-toggle {
  color: #ffffff;
  background: #272727;
}
.logo.open .dropdown-toggle .fa {
  color: #ffffff;
}
div.logo-image {
  padding-right: 15px;
  padding-left: 15px;
  min-width: 0;
  float: left;
}
.container div.logo-image {
  padding-left: 0;
}
div.logo-image span,
div.logo-image small {
  display: none;
}
div.logo-image img {
  max-height: 26px;
  max-width: 100%;
}
div.logo-image a {
  text-decoration: none;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: #333333;
  font-size: 25px;
  white-space: nowrap;
  line-height: 1;
}
.logo-text {
  padding-right: 15px;
  padding-left: 15px;
  min-width: 130px;
  float: left;
}
@media (max-width: 320px) {
  .logo-text {
    min-width: none;
  }
}
.container .logo-text {
  padding-left: 0;
}
.logo-text a {
  text-decoration: none;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: #333333;
  font-size: 25px;
  white-space: nowrap;
}
.logo-text .site-slogan {
  display: block;
  font-size: 12px;
  margin-top: -16px;
  line-height: normal;
  color: #999999;
}
.site-navigation-right {
  text-align: right;
}
@media screen and (max-width: 480px) {
  .site-navigation-right {
    width: auto;
  }
}
.site-navigation-right .off-canvas-toggle {
  float: right;
}
.head-search {
  margin-right: 44px;
}
.head-search:before,
.head-search:after {
  content: " ";
  display: table;
}
.head-search:after {
  clear: both;
}
.head-search form {
  margin: 0;
}
.head-search label {
  display: none;
}
.head-search .search {
  position: relative;
  padding-top: 0;
}
.head-search .search:before {
  font-family: "FontAwesome";
  content: "\f002";
  display: block;
  position: absolute;
  left: 0;
  top: 2px;
  color: #eeeeee;
  z-index: 0;
}
.head-search .form-control {
  background: none;
  border: 0;
  color: #f7f7f7;
  font-size: 12px;
  margin: 0;
  padding-left: 22px;
  height: 32px;
}
.head-search .form-control::-moz-placeholder {
  color: #eeeeee;
  opacity: 1;
}
.head-search .form-control:-ms-input-placeholder {
  color: #eeeeee;
}
.head-search .form-control::-webkit-input-placeholder {
  color: #eeeeee;
}
.head-search .form-control:focus {
  box-shadow: none;
}
.right-menu {
  float: right;
}
.right-menu:before,
.right-menu:after {
  content: " ";
  display: table;
}
.right-menu:after {
  clear: both;
}
.right-menu .nav li {
  line-height: 26px;
}
.right-menu .nav li > a {
  border-left: 1px solid transparent;
  color: #272727;
  height: 26px;
  display: block;
  text-transform: uppercase;
  padding: 0 11px;
  overflow: hidden;
}
@media screen and (min-width: 1200px) {
  .right-menu .nav li > a {
    padding: 0 20px;
  }
}
.right-menu .nav li.active > a,
.right-menu .nav li.active > a:hover {
  background: rgba(0, 0, 0, 0);
  color: #272727;
}
.right-menu .nav li > a.item-primary {
  background: #f0ad4e;
  color: #ffffff;
}
.right-menu .nav li > a.item-primary:hover,
.right-menu .nav li > a.item-primary:active,
.right-menu .nav li > a.item-primary:focus {
  background: #eea236;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .right-menu .nav li > a.button-responsive {
    font-size: 11px;
    text-transform: none;
    padding-left: 11px !important;
    padding-right: 11px !important;
    margin-top: 5px;
  }
}
.head-login {
  text-indent: 999em;
  width: 40px;
}
@media screen and (min-width: 768px) {
  .head-login {
    width: 52px;
  }
}
@media screen and (min-width: 992px) {
  .head-login {
    text-indent: inherit;
    width: auto;
  }
}
@media screen and (max-width: 991px) {
  .head-login:after {
    font-family: "FontAwesome";
    content: "\f007";
    display: block;
    position: absolute;
    left: 20px;
    top: 0;
    color: #555555;
    text-indent: 0;
    z-index: 0;
  }
}
@media screen and (max-width: 767px) {
  .head-login:after {
    left: 13px;
  }
}
.uber-header-wrap {
  position: relative;
  z-index: 21;
}
.uber-header-wrap.has-affix {
  z-index: 22;
}
.uber-header-wrap a:focus {
  outline: none;
}
.uber-header {
  background-color: transparent;
  border-bottom: 1px solid transparent;
  top: 0;
  left: 0;
  right: 0;
  z-index: 22;
  position: relative;
  -webkit-transition: top 0.3s;
  -o-transition: top 0.3s;
  transition: top 0.3s;
}
.uber-header[data-spy='affix'] > .row {
  margin-right: 0;
}
.uber-header[data-spy='affix'] > .row .site-navigation-right {
  padding-right: 0;
}
@media screen and (min-width: 768px) {
  .uber-header {
    height: 26px;
  }
}
@media screen and (max-width: 767px) {
  .uber-header .row {
    margin: 0;
  }
  .uber-header .row > #t3-mainnav,
  .uber-header .row > .site-navigation-right,
  .uber-header .row > .logo {
    padding: 0;
  }
  .uber-header .row > .site-navigation-right {
    position: static;
  }
  .uber-header .row .logo .logo-text {
    text-align: left;
  }
  .uber-header .row .logo .list-brands {
    left: 0;
    text-align: left;
  }
  .uber-header .row .logo:hover {
    background: none;
  }
}
.uber-header.affix {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 23;
}
.affixbar-show .uber-header.affix {
  top: 42px;
}
.uber-header.dark-color,
.uber-header.none-color.affix {
  background: #272727;
  border-color: #2f2f2f;
}
.uber-header.dark-color .logo,
.uber-header.none-color.affix .logo {
  border-right: 1px solid #2f2f2f;
}
.uber-header.dark-color .logo .logo-text,
.uber-header.none-color.affix .logo .logo-text {
  padding-right: 15px;
}
.uber-header.dark-color .logo .logo-text > a,
.uber-header.none-color.affix .logo .logo-text > a {
  color: #eeeeee;
}
.uber-header.dark-color .logo.open .dropdown-toggle,
.uber-header.none-color.affix .logo.open .dropdown-toggle {
  background-color: #ffffff;
  color: #555555;
}
.uber-header.dark-color .logo.open .dropdown-toggle .fa,
.uber-header.none-color.affix .logo.open .dropdown-toggle .fa {
  color: #555555;
}
.uber-header.dark-color .navbar-default .navbar-nav > li,
.uber-header.none-color.affix .navbar-default .navbar-nav > li {
  border-right: 1px solid #2f2f2f;
}
.uber-header.dark-color .navbar-default .navbar-nav > li > a,
.uber-header.none-color.affix .navbar-default .navbar-nav > li > a {
  color: #cccccc;
  padding-left: 22px;
  padding-right: 22px;
}
.uber-header.dark-color .navbar-default .navbar-nav > li > a:hover,
.uber-header.none-color.affix .navbar-default .navbar-nav > li > a:hover,
.uber-header.dark-color .navbar-default .navbar-nav > li > a:focus,
.uber-header.none-color.affix .navbar-default .navbar-nav > li > a:focus {
  color: #eeeeee;
  background-color: #000000;
}
.uber-header.dark-color .navbar-default .navbar-nav > li > .nav-header,
.uber-header.none-color.affix .navbar-default .navbar-nav > li > .nav-header {
  color: #999999;
}
.uber-header.dark-color .navbar-default .navbar-nav > .open > a,
.uber-header.none-color.affix .navbar-default .navbar-nav > .open > a,
.uber-header.dark-color .navbar-default .navbar-nav > .open > a:hover,
.uber-header.none-color.affix .navbar-default .navbar-nav > .open > a:hover,
.uber-header.dark-color .navbar-default .navbar-nav > .open > a:focus,
.uber-header.none-color.affix .navbar-default .navbar-nav > .open > a:focus {
  border-color: #555555;
  color: #eeeeee;
  background-color: #000000;
}
.uber-header.dark-color .navbar-default .navbar-nav > .active > a,
.uber-header.none-color.affix .navbar-default .navbar-nav > .active > a,
.uber-header.dark-color .navbar-default .navbar-nav > .active > a:hover,
.uber-header.none-color.affix .navbar-default .navbar-nav > .active > a:hover,
.uber-header.dark-color .navbar-default .navbar-nav > .active > a:focus,
.uber-header.none-color.affix .navbar-default .navbar-nav > .active > a:focus {
  color: #eeeeee;
  background-color: #000000;
}
.uber-header.dark-color .navbar-default .navbar-nav > .alias-parent-active > a,
.uber-header.none-color.affix .navbar-default .navbar-nav > .alias-parent-active > a,
.uber-header.dark-color .navbar-default .navbar-nav > .alias-parent-active > a:hover,
.uber-header.none-color.affix .navbar-default .navbar-nav > .alias-parent-active > a:hover,
.uber-header.dark-color .navbar-default .navbar-nav > .alias-parent-active > a:focus,
.uber-header.none-color.affix .navbar-default .navbar-nav > .alias-parent-active > a:focus {
  color: #ffffff;
  background-color: none;
}
.uber-header.dark-color .navbar-default .navbar-nav .dropdown-menu,
.uber-header.none-color.affix .navbar-default .navbar-nav .dropdown-menu {
  background-color: #000000;
  border-color: #404040;
  border-top: 0;
}
.uber-header.dark-color .navbar-default .navbar-nav .dropdown-menu .mega-nav > li > a,
.uber-header.none-color.affix .navbar-default .navbar-nav .dropdown-menu .mega-nav > li > a {
  color: #999999;
}
.uber-header.dark-color .navbar-default .navbar-nav .dropdown-menu .mega-nav > li > a:hover,
.uber-header.none-color.affix .navbar-default .navbar-nav .dropdown-menu .mega-nav > li > a:hover,
.uber-header.dark-color .navbar-default .navbar-nav .dropdown-menu .mega-nav > li > a:focus,
.uber-header.none-color.affix .navbar-default .navbar-nav .dropdown-menu .mega-nav > li > a:focus,
.uber-header.dark-color .navbar-default .navbar-nav .dropdown-menu .mega-nav > li > a:active,
.uber-header.none-color.affix .navbar-default .navbar-nav .dropdown-menu .mega-nav > li > a:active {
  color: #ffffff;
}
.uber-header.dark-color .navbar-default .navbar-nav .dropdown-menu .mega-nav > li.current a,
.uber-header.none-color.affix .navbar-default .navbar-nav .dropdown-menu .mega-nav > li.current a {
  color: #ffffff;
}
.uber-header.dark-color .navbar-default .navbar-nav .dropdown-menu .mega-nav > li.current a:hover,
.uber-header.none-color.affix .navbar-default .navbar-nav .dropdown-menu .mega-nav > li.current a:hover,
.uber-header.dark-color .navbar-default .navbar-nav .dropdown-menu .mega-nav > li.current a:focus,
.uber-header.none-color.affix .navbar-default .navbar-nav .dropdown-menu .mega-nav > li.current a:focus,
.uber-header.dark-color .navbar-default .navbar-nav .dropdown-menu .mega-nav > li.current a:active,
.uber-header.none-color.affix .navbar-default .navbar-nav .dropdown-menu .mega-nav > li.current a:active {
  color: #ffffff;
}
.uber-header.dark-color .navbar-default .navbar-nav .dropdown-menu .dropdown-header,
.uber-header.none-color.affix .navbar-default .navbar-nav .dropdown-menu .dropdown-header {
  border-bottom-color: #404040;
}
.uber-header.dark-color .site-navigation-right .off-canvas-toggle,
.uber-header.none-color.affix .site-navigation-right .off-canvas-toggle {
  border-left-color: #2f2f2f;
  color: #cccccc;
}
.uber-header.dark-color .site-navigation-right .off-canvas-toggle:hover,
.uber-header.none-color.affix .site-navigation-right .off-canvas-toggle:hover,
.uber-header.dark-color .site-navigation-right .off-canvas-toggle:focus,
.uber-header.none-color.affix .site-navigation-right .off-canvas-toggle:focus,
.uber-header.dark-color .site-navigation-right .off-canvas-toggle:active,
.uber-header.none-color.affix .site-navigation-right .off-canvas-toggle:active {
  color: #eeeeee;
  background-color: #000000;
  border-color: #2f2f2f;
}
.uber-header.dark-color .site-navigation-right .right-menu ul li > a,
.uber-header.none-color.affix .site-navigation-right .right-menu ul li > a {
  border-color: #2f2f2f;
  color: #cccccc;
}
.uber-header.dark-color .site-navigation-right .right-menu ul li > a:hover,
.uber-header.none-color.affix .site-navigation-right .right-menu ul li > a:hover,
.uber-header.dark-color .site-navigation-right .right-menu ul li > a:active,
.uber-header.none-color.affix .site-navigation-right .right-menu ul li > a:active,
.uber-header.dark-color .site-navigation-right .right-menu ul li > a:focus,
.uber-header.none-color.affix .site-navigation-right .right-menu ul li > a:focus {
  background: #000000;
  color: #eeeeee;
}
.uber-header.dark-color .site-navigation-right .right-menu ul li.active > a,
.uber-header.none-color.affix .site-navigation-right .right-menu ul li.active > a,
.uber-header.dark-color .site-navigation-right .right-menu ul li.active > a:active,
.uber-header.none-color.affix .site-navigation-right .right-menu ul li.active > a:active,
.uber-header.dark-color .site-navigation-right .right-menu ul li.active > a:hover,
.uber-header.none-color.affix .site-navigation-right .right-menu ul li.active > a:hover {
  background: #000000;
  color: #eeeeee;
}
.uber-header.dark-color .site-navigation-right .right-menu ul li .head-login:after,
.uber-header.none-color.affix .site-navigation-right .right-menu ul li .head-login:after {
  color: #eeeeee;
}
.uber-header.highlight-color {
  background: #ffffff;
  border-color: #ffffff;
}
.uber-header.highlight-color .logo {
  border-color: #e6e6e6;
}
.uber-header.highlight-color .logo .logo-text > a {
  color: #f7f7f7;
}
.uber-header.highlight-color .navbar-default .navbar-nav > li {
  border-right-color: #e6e6e6;
}
.uber-header.highlight-color .navbar-default .navbar-nav > li > a {
  color: #f7f7f7;
}
.uber-header.highlight-color .navbar-default .navbar-nav > li > a:hover,
.uber-header.highlight-color .navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #d9d9d9;
}
.uber-header.highlight-color .navbar-default .navbar-nav > li > .nav-header {
  color: #f7f7f7;
}
.uber-header.highlight-color .navbar-default .navbar-nav > .open > a,
.uber-header.highlight-color .navbar-default .navbar-nav > .open > a:hover,
.uber-header.highlight-color .navbar-default .navbar-nav > .open > a:focus {
  border-color: #e6e6e6;
  color: #ffffff;
  background-color: #d9d9d9;
}
.uber-header.highlight-color .navbar-default .navbar-nav > .active > a,
.uber-header.highlight-color .navbar-default .navbar-nav > .active > a:hover,
.uber-header.highlight-color .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #d9d9d9;
}
.uber-header.highlight-color .site-navigation-right .off-canvas-toggle {
  border-left-color: #e6e6e6;
  color: #f7f7f7;
}
.uber-header.highlight-color .site-navigation-right .off-canvas-toggle:hover,
.uber-header.highlight-color .site-navigation-right .off-canvas-toggle:focus,
.uber-header.highlight-color .site-navigation-right .off-canvas-toggle:active {
  color: #ffffff;
  background-color: #d9d9d9;
  border-color: #e6e6e6;
}
.uber-header.highlight-color .site-navigation-right .right-menu ul li > a {
  border-color: #e6e6e6;
  color: #f7f7f7;
}
.uber-header.highlight-color .site-navigation-right .right-menu ul li > a:hover,
.uber-header.highlight-color .site-navigation-right .right-menu ul li > a:focus {
  background: #d9d9d9;
  color: #ffffff;
}
.uber-header.highlight-color .site-navigation-right .right-menu ul li.active > a,
.uber-header.highlight-color .site-navigation-right .right-menu ul li.active > a:hover {
  background: #d9d9d9;
  color: #ffffff;
}
.uber-header.highlight-color .site-navigation-right .right-menu ul li .head-login:after {
  color: #f7f7f7;
}
.uber-header.none-color {
  background: none;
  border: 0;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.uber-header.none-color .logo {
  border-right: 0;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.uber-header.none-color .logo .logo-text,
.uber-header.none-color .logo .logo-image {
  padding-left: 0;
  padding-right: 30px;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.uber-header.none-color .logo .logo-image > a {
  line-height: 1;
}
.uber-header.none-color .logo .logo-text > a {
  color: #f7f7f7;
}
.uber-header.none-color .navbar-default .navbar-nav > li {
  border-right: 0;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.uber-header.none-color .navbar-default .navbar-nav > li > a {
  color: #f7f7f7;
  text-transform: none;
  padding-left: 0;
  padding-right: 44px;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.uber-header.none-color .navbar-default .navbar-nav > li > a:hover,
.uber-header.none-color .navbar-default .navbar-nav > li > a:focus {
  color: #d9d9d9;
  background: none;
}
.uber-header.none-color .navbar-default .navbar-nav > li > .nav-header {
  color: #f7f7f7;
}
.uber-header.none-color .navbar-default .navbar-nav > .open > a,
.uber-header.none-color .navbar-default .navbar-nav > .open > a:hover,
.uber-header.none-color .navbar-default .navbar-nav > .open > a:focus {
  border: 0;
  color: #ffffff;
  background: none;
}
.uber-header.none-color .navbar-default .navbar-nav > .active > a,
.uber-header.none-color .navbar-default .navbar-nav > .active > a:hover,
.uber-header.none-color .navbar-default .navbar-nav > .active > a:focus {
  color: #d9d9d9;
  background: none;
}
.uber-header.none-color .site-navigation-right .off-canvas-toggle {
  border: 0;
  color: #f7f7f7;
  text-transform: none;
}
.uber-header.none-color .site-navigation-right .off-canvas-toggle:hover,
.uber-header.none-color .site-navigation-right .off-canvas-toggle:focus,
.uber-header.none-color .site-navigation-right .off-canvas-toggle:active {
  color: #d9d9d9;
  background: transparent;
}
.uber-header.none-color .site-navigation-right .right-menu ul li > a {
  border: 0;
  color: #f7f7f7;
  text-transform: none;
}
.uber-header.none-color .site-navigation-right .right-menu ul li > a:hover,
.uber-header.none-color .site-navigation-right .right-menu ul li > a:focus {
  background: transparent;
  color: #d9d9d9;
}
.uber-header.none-color .site-navigation-right .right-menu ul li.active > a,
.uber-header.none-color .site-navigation-right .right-menu ul li.active > a:hover {
  background: transparent;
  color: #d9d9d9;
}
.uber-header.none-color .site-navigation-right .right-menu ul li .head-login:after {
  color: #f7f7f7;
}
.uber-header.header-2.light-color {
  background-color: rgba(255, 255, 255, 0.3);
  border-bottom: 0;
}
.uber-header.header-2.dark-color {
  background-color: rgba(0, 0, 0, 0.3);
  border-bottom: 0;
}
.uber-header.header-2.none-color {
  top: 44px;
}
.uber-header.affix {
  position: fixed;
}
.uber-header.affix.none-color {
  top: 0;
}

.uber-header.header-3 .logo:after {
  content: "";
  width: 60px;
  height: 60px;
  background: url("../../../../../../acm/header/images/snowflake.png") no-repeat;
  position: absolute;
  right: -40px;
  top: 3px;
}
.uber-header.header-3 .logo:before {
  content: "";
  width: 38px;
  height: 50px;
  background: url("../../../../../../acm/header/images/tree.png") no-repeat;
  position: absolute;
  left: -22px;
  bottom: 0;
  z-index: -1;
}
.uber-header.header-3.highlight-color {
  background-color: #ce2920;
  border-color: #ce2920;
}
.uber-header.header-3.highlight-color .logo {
  border-right-color: #a22019;
}
.uber-header.header-3.highlight-color .navbar-default .navbar-nav > li {
  border-right: 0;
}
.uber-header.header-3.highlight-color .navbar-default .navbar-nav > li > a {
  color: #f7f7f7;
  text-transform: none;
  font-weight: 700;
}
.uber-header.header-3.highlight-color .navbar-default .navbar-nav > li > a:hover,
.uber-header.header-3.highlight-color .navbar-default .navbar-nav > li > a:focus {
  color: #000000;
  background-color: transparent;
}
.uber-header.header-3.highlight-color .navbar-default .navbar-nav > li > .nav-header {
  color: #f7f7f7;
}
.uber-header.header-3.highlight-color .navbar-default .navbar-nav > .open > a,
.uber-header.header-3.highlight-color .navbar-default .navbar-nav > .open > a:hover,
.uber-header.header-3.highlight-color .navbar-default .navbar-nav > .open > a:focus {
  border-color: #e6e6e6;
  color: #000000;
  background-color: transparent;
}
.uber-header.header-3.highlight-color .navbar-default .navbar-nav > .active > a,
.uber-header.header-3.highlight-color .navbar-default .navbar-nav > .active > a:hover,
.uber-header.header-3.highlight-color .navbar-default .navbar-nav > .active > a:focus {
  color: #000000;
  background-color: transparent;
}
.uber-header.header-3.highlight-color .navbar-default .navbar-nav > li.open > .dropdown-menu {
  border-bottom: 5px solid #ce2920;
}
.uber-header.header-3.highlight-color .navbar-default .navbar-nav > li.open > .dropdown-menu:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #ffffff;
  position: absolute;
  top: -10px;
  left: 15px;
}
.uber-header.header-3.highlight-color .navbar-default .navbar-nav > li.open > .dropdown-menu .mega-nav > li a:hover {
  background-color: #ce2920;
}
.uber-header.header-3.highlight-color .navbar-default .navbar-nav > li.open > .dropdown-menu .mega-nav > li.active > a {
  color: #ce2920;
}
.uber-header.header-3.highlight-color .navbar-default .navbar-nav > li.open > .dropdown-menu .mega-nav > li.active > a:hover {
  color: #ffffff;
}
.uber-header.header-3.highlight-color .navbar-default .navbar-nav > li.open > .dropdown-menu .mega-nav > li > a.dropdown-header {
  background: none;
  color: #000000;
}
.uber-header.header-3.highlight-color .site-navigation-right .right-menu ul li > a {
  border: 0;
  font-weight: 700;
  text-transform: none;
}
.uber-header.header-3.highlight-color .site-navigation-right .right-menu ul li > a:hover,
.uber-header.header-3.highlight-color .site-navigation-right .right-menu ul li > a:focus,
.uber-header.header-3.highlight-color .site-navigation-right .right-menu ul li > a:active {
  background: none;
  color: #000000;
}
.uber-header.header-3.highlight-color .site-navigation-right .off-canvas-toggle {
  border: 0;
  font-weight: 700;
  text-transform: none;
  padding-right: 0;
}
.uber-header.header-3.highlight-color .site-navigation-right .off-canvas-toggle:hover,
.uber-header.header-3.highlight-color .site-navigation-right .off-canvas-toggle:focus,
.uber-header.header-3.highlight-color .site-navigation-right .off-canvas-toggle:active {
  background: none;
  color: #000000;
}
.uber-header.affix {
  position: fixed;
}
.uber-header.affix.none-color {
  top: 0;
}
.uber-header.header-4 {
  height: 100px;
  padding-top: 22px;
  padding-bottom: 22px;
  border-bottom: 1px solid #dddddd;
}
.uber-header.header-4.light-color .logo {
  border-right: 0;
  text-align: left;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.uber-header.header-4.light-color .logo .logo-text {
  padding-left: 0;
  padding-right: 30px;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.uber-header.header-4.light-color .logo .logo-text > a {
  color: #272727;
}
.uber-header.header-4.light-color .navbar-default .navbar-nav > li {
  border-right: 0;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.uber-header.header-4.light-color .navbar-default .navbar-nav > li > a {
  text-transform: none;
  padding-left: 0;
  padding-right: 44px;
  font-weight: 700;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.uber-header.header-4.light-color .navbar-default .navbar-nav > li > a:hover,
.uber-header.header-4.light-color .navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  background: none;
}
.uber-header.header-4.light-color .navbar-default .navbar-nav > .open > a,
.uber-header.header-4.light-color .navbar-default .navbar-nav > .open > a:hover,
.uber-header.header-4.light-color .navbar-default .navbar-nav > .open > a:focus {
  border: 0;
  color: #ffffff;
  background: none;
}
.uber-header.header-4.light-color .navbar-default .navbar-nav > .active > a,
.uber-header.header-4.light-color .navbar-default .navbar-nav > .active > a:hover,
.uber-header.header-4.light-color .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background: none;
}
.uber-header.header-4.light-color .navbar-default .t3-navbar-collapse .navbar-nav > li > a {
  padding-left: 22px;
}
.uber-header.header-4.light-color .site-navigation-right {
  padding-right: 15px;
}
@media screen and (max-width: 1199px) {
  .uber-header.header-4.light-color .site-navigation-right {
    padding-right: 44px;
  }
}
@media screen and (max-width: 767px) {
  .uber-header.header-4.light-color .site-navigation-right {
    padding-right: 22.5px;
  }
}
.uber-header.header-4.light-color .site-navigation-right .off-canvas-toggle {
  border: 0;
  text-transform: none;
  font-weight: 700;
  position: absolute;
  right: 0;
}
@media (max-width: 991px) {
  .uber-header.header-4.light-color .site-navigation-right .off-canvas-toggle {
    right: 7.5px;
  }
}
.uber-header.header-4.light-color .site-navigation-right .off-canvas-toggle span {
  display: none;
}
.uber-header.header-4.light-color .site-navigation-right .off-canvas-toggle .fa {
  margin-left: 0;
}
.uber-header.header-4.light-color .site-navigation-right .off-canvas-toggle:hover,
.uber-header.header-4.light-color .site-navigation-right .off-canvas-toggle:focus,
.uber-header.header-4.light-color .site-navigation-right .off-canvas-toggle:active {
  color: #ffffff;
  background: transparent;
}
.uber-header.header-4.light-color .site-navigation-right .right-menu ul li > a {
  border: 0;
  text-transform: none;
  font-weight: 700;
  background: #428bca;
  padding: 11px 22px;
  color: #ffffff;
  height: auto;
  line-height: 1;
  border-radius: 2px;
}
.uber-header.header-4.light-color .site-navigation-right .right-menu ul li > a:hover,
.uber-header.header-4.light-color .site-navigation-right .right-menu ul li > a:focus {
  background: #3071a9;
  color: #ffffff;
}
.uber-header.header-4.light-color .site-navigation-right .right-menu ul li > a.head-login:after {
  top: 11px;
  color: #ffffff;
  left: 20px;
}
.uber-header.header-4.light-color .site-navigation-right .right-menu ul li.active > a,
.uber-header.header-4.light-color .site-navigation-right .right-menu ul li.active > a:hover {
  background: #3071a9;
  color: #ffffff;
}
.uber-header.header-5 {
  height: 100px;
  padding-top: 22px;
  padding-bottom: 22px;
  border-bottom: 1px solid #000000;
}
.uber-header.header-5.dark-color {
  background-color: #272727;
}
.uber-header.header-5.dark-color .logo {
  border-right: 0;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.uber-header.header-5.dark-color .logo .logo-text {
  padding-left: 0;
  padding-right: 30px;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.uber-header.header-5.dark-color .logo .logo-text > a {
  color: #f7f7f7;
}
@media screen and (max-width: 767px) {
  .uber-header.header-5.dark-color .logo .logo-image a {
    text-align: left;
  }
}
.uber-header.header-5.dark-color .navbar-collapse {
  border-top: 0;
}
.uber-header.header-5.dark-color .navbar-default .navbar-toggle {
  border: 0;
  background: none;
}
.uber-header.header-5.dark-color .navbar-default .navbar-toggle:hover,
.uber-header.header-5.dark-color .navbar-default .navbar-toggle:focus,
.uber-header.header-5.dark-color .navbar-default .navbar-toggle:active {
  border: 0;
  background: none;
  color: #ffffff;
}
.uber-header.header-5.dark-color .navbar-default .t3-navbar-collapse .navbar-nav > li > a {
  padding-left: 22px;
}
.uber-header.header-5.dark-color .navbar-default .navbar-nav > li {
  border-right: 0;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.uber-header.header-5.dark-color .navbar-default .navbar-nav > li > a {
  text-transform: none;
  padding-left: 0;
  padding-right: 44px;
  font-weight: 700;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.uber-header.header-5.dark-color .navbar-default .navbar-nav > li > a:hover,
.uber-header.header-5.dark-color .navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  background: none;
}
.uber-header.header-5.dark-color .navbar-default .navbar-nav > .open > a,
.uber-header.header-5.dark-color .navbar-default .navbar-nav > .open > a:hover,
.uber-header.header-5.dark-color .navbar-default .navbar-nav > .open > a:focus {
  border: 0;
  color: #ffffff;
  background: none;
}
.uber-header.header-5.dark-color .navbar-default .navbar-nav > .active > a,
.uber-header.header-5.dark-color .navbar-default .navbar-nav > .active > a:hover,
.uber-header.header-5.dark-color .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background: none;
}
.uber-header.header-5.dark-color .navbar-default .navbar-nav .dropdown-menu {
  border: 0;
}
.uber-header.header-5.dark-color .site-navigation-right {
  padding-right: 15px;
}
@media screen and (max-width: 1199px) {
  .uber-header.header-5.dark-color .site-navigation-right {
    padding-right: 44px;
  }
}
@media screen and (max-width: 767px) {
  .uber-header.header-5.dark-color .site-navigation-right {
    padding-right: 22.5px;
  }
}
.uber-header.header-5.dark-color .site-navigation-right .off-canvas-toggle {
  border: 0;
  text-transform: none;
  font-weight: 700;
  position: absolute;
  right: 0;
}
@media (max-width: 991px) {
  .uber-header.header-5.dark-color .site-navigation-right .off-canvas-toggle {
    right: 7.5px;
  }
}
.uber-header.header-5.dark-color .site-navigation-right .off-canvas-toggle span {
  display: none;
}
.uber-header.header-5.dark-color .site-navigation-right .off-canvas-toggle .fa {
  margin-left: 0;
}
.uber-header.header-5.dark-color .site-navigation-right .off-canvas-toggle:hover,
.uber-header.header-5.dark-color .site-navigation-right .off-canvas-toggle:focus,
.uber-header.header-5.dark-color .site-navigation-right .off-canvas-toggle:active {
  color: #ffffff;
  background: transparent;
}
.uber-header.header-5.dark-color .site-navigation-right .right-menu ul li > a {
  border: 0;
  text-transform: none;
  font-weight: 700;
  background: #428bca;
  padding: 11px 22px;
  color: #ffffff;
  height: auto;
  line-height: 1;
  border-radius: 2px;
}
.uber-header.header-5.dark-color .site-navigation-right .right-menu ul li > a:hover,
.uber-header.header-5.dark-color .site-navigation-right .right-menu ul li > a:focus {
  background: #3071a9;
  color: #ffffff;
}
.uber-header.header-5.dark-color .site-navigation-right .right-menu ul li > a.head-login:after {
  top: 11px;
  color: #ffffff;
  left: 20px;
}
.uber-header.header-5.dark-color .site-navigation-right .right-menu ul li.active > a,
.uber-header.header-5.dark-color .site-navigation-right .right-menu ul li.active > a:hover {
  background: #3071a9;
  color: #ffffff;
}
.uber-header.header-6.dark-color {
  background-color: #272727;
  height: auto;
  padding-top: 22px;
  border-bottom: 0;
}
.uber-header.header-6 .logo {
  padding-bottom: 22px;
  height: auto;
  line-height: 1;
  border-right: 0;
}
.uber-header.header-6 .t3-mainnav {
  width: 100%;
  border-top: 1px solid #333333;
}
.uber-header.header-6 .row {
  position: relative;
}
.uber-header.header-6 .site-navigation-right .right-menu ul li > a {
  border: 0;
  text-transform: none;
  font-weight: 700;
  background: #428bca;
  padding: 11px 22px;
  color: #ffffff;
  height: auto;
  line-height: 1;
  border-radius: 2px;
}
.uber-header.header-6 .site-navigation-right .right-menu ul li > a:hover,
.uber-header.header-6 .site-navigation-right .right-menu ul li > a:focus {
  background: #3071a9;
  color: #ffffff;
}
.uber-header.header-6 .site-navigation-right .right-menu ul li > a.head-login:after {
  top: 11px;
  color: #ffffff;
  left: 20px;
}
.uber-header.header-6 .site-navigation-right .right-menu ul li.active > a,
.uber-header.header-6 .site-navigation-right .right-menu ul li.active > a:hover,
.uber-header.header-6 .site-navigation-right .right-menu ul li.active > a:focus,
.uber-header.header-6 .site-navigation-right .right-menu ul li.active > a:active {
  background: #3071a9;
  color: #ffffff;
}
.uber-header.header-6 .off-canvas-toggle {
  border: 0;
  text-transform: none;
  font-weight: 700;
  position: absolute;
  right: 0;
  bottom: 0;
}
@media (max-width: 991px) {
  .uber-header.header-6 .off-canvas-toggle {
    right: 7.5px;
  }
}
.uber-header.header-6 .off-canvas-toggle span {
  display: none;
}
.uber-header.header-6 .off-canvas-toggle .fa {
  margin-left: 0;
}
.uber-header.header-6 .off-canvas-toggle:hover,
.uber-header.header-6 .off-canvas-toggle:focus,
.uber-header.header-6 .off-canvas-toggle:active {
  color: #ffffff;
  background: transparent;
}
.uber-header.header-6 .navbar-default .navbar-nav > li {
  border-right-color: #333333;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.uber-header.header-6 .navbar-default .navbar-nav > li > a {
  text-transform: none;
  font-weight: 700;
  color: #555555;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.uber-header.header-6 .navbar-default .navbar-nav > li > a:hover,
.uber-header.header-6 .navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  background: none;
}
.uber-header.header-6 .navbar-default .navbar-nav > .open > a,
.uber-header.header-6 .navbar-default .navbar-nav > .open > a:hover,
.uber-header.header-6 .navbar-default .navbar-nav > .open > a:focus {
  border: 0;
  color: #ffffff;
  background: #000000;
}
.uber-header.header-6 .navbar-default .navbar-nav > .active > a,
.uber-header.header-6 .navbar-default .navbar-nav > .alias-parent-active > a {
  color: #ffffff;
  background: none;
}
.uber-header.header-6 .navbar-default .navbar-nav > .active > a:hover,
.uber-header.header-6 .navbar-default .navbar-nav > .alias-parent-active > a:hover,
.uber-header.header-6 .navbar-default .navbar-nav > .active > a:focus,
.uber-header.header-6 .navbar-default .navbar-nav > .alias-parent-active > a:focus {
  color: #ffffff;
  background: #000000;
}
.uber-header.header-6 .navbar-default .navbar-nav .dropdown-menu {
  border: 0;
}
.uber-header.affix {
  position: fixed;
}
.uber-header.header-7.light-color {
  background-color: #ffffff;
  height: auto;
  padding-top: 22px;
  border-bottom: 0;
}
.uber-header.header-7 .logo {
  padding-bottom: 22px;
  height: auto;
  line-height: 1;
  border-right: 0;
}
.uber-header.header-7 .t3-mainnav {
  width: 100%;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}
.uber-header.header-7 .row {
  position: relative;
}
.uber-header.header-7 .site-navigation-right .right-menu ul li > a {
  border: 0;
  text-transform: none;
  font-weight: 700;
  background: #428bca;
  padding: 11px 22px;
  color: #ffffff;
  height: auto;
  line-height: 1;
  border-radius: 2px;
}
.uber-header.header-7 .site-navigation-right .right-menu ul li > a:hover,
.uber-header.header-7 .site-navigation-right .right-menu ul li > a:focus {
  background: #3071a9;
  color: #ffffff;
}
.uber-header.header-7 .site-navigation-right .right-menu ul li > a.head-login:after {
  top: 11px;
  color: #ffffff;
  left: 20px;
}
.uber-header.header-7 .site-navigation-right .right-menu ul li.active > a,
.uber-header.header-7 .site-navigation-right .right-menu ul li.alias-parent-active > a,
.uber-header.header-7 .site-navigation-right .right-menu ul li.active > a:hover,
.uber-header.header-7 .site-navigation-right .right-menu ul li.alias-parent-active > a:hover {
  background: #3071a9;
  color: #ffffff;
}
.uber-header.header-7 .off-canvas-toggle {
  border: 0;
  text-transform: none;
  font-weight: 700;
  position: absolute;
  right: 0;
  bottom: 0;
}
@media (max-width: 991px) {
  .uber-header.header-7 .off-canvas-toggle {
    right: 7.5px;
  }
}
.uber-header.header-7 .off-canvas-toggle span {
  display: none;
}
.uber-header.header-7 .off-canvas-toggle .fa {
  margin-left: 0;
}
.uber-header.header-7 .off-canvas-toggle:hover,
.uber-header.header-7 .off-canvas-toggle:focus,
.uber-header.header-7 .off-canvas-toggle:active {
  color: #ffffff;
  background: transparent;
}
.uber-header.header-7 .navbar-default .navbar-nav > li {
  border-right-color: #dddddd;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.uber-header.header-7 .navbar-default .navbar-nav > li > a {
  text-transform: none;
  font-weight: 700;
}
.uber-header.header-7 .navbar-default .navbar-nav > .open > a,
.uber-header.header-7 .navbar-default .navbar-nav > .open > a:hover,
.uber-header.header-7 .navbar-default .navbar-nav > .open > a:focus {
  background-color: #f7f7f7;
  border: 0;
}
.uber-header.header-7 .navbar-default .navbar-nav > .active > a,
.uber-header.header-7 .navbar-default .navbar-nav > .alias-parent-active > a {
  color: #ffffff;
  background-color: transparent;
}
.uber-header.header-7 .navbar-default .navbar-nav > .active > a:hover,
.uber-header.header-7 .navbar-default .navbar-nav > .alias-parent-active > a:hover,
.uber-header.header-7 .navbar-default .navbar-nav > .active > a:focus,
.uber-header.header-7 .navbar-default .navbar-nav > .alias-parent-active > a:focus {
  background-color: #f7f7f7;
}
.uber-header.header-7 .navbar-default .navbar-nav .dropdown-menu {
  border: 0;
  background-color: #f7f7f7;
}
.uber-header.affix {
  position: fixed;
}
.uber-header.header-8 {
  height: 100px;
  padding-top: 22px;
  padding-bottom: 22px;
  border-bottom: 1px solid #000000;
}
.uber-header.header-8.dark-color {
  background-color: #272727;
}
.uber-header.header-8.dark-color .logo {
  border-right: 0;
  text-align: left;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.uber-header.header-8.dark-color .logo .logo-text {
  padding-left: 0;
  padding-right: 30px;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.uber-header.header-8.dark-color .logo .logo-text > a {
  color: #f7f7f7;
}
.uber-header.header-8.dark-color .navbar-default .t3-navbar-collapse .navbar-nav > li > a {
  padding-left: 22px;
}
.uber-header.header-8.dark-color .navbar-default .navbar-nav > li {
  border-right: 0;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.uber-header.header-8.dark-color .navbar-default .navbar-nav > li > a {
  text-transform: none;
  padding-left: 0;
  padding-right: 44px;
  font-weight: 700;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.uber-header.header-8.dark-color .navbar-default .navbar-nav > li > a:hover {
  color: #ffffff;
  background: none;
}
.uber-header.header-8.dark-color .navbar-default .navbar-nav > li > a:focus {
  background: none;
}
.uber-header.header-8.dark-color .navbar-default .navbar-nav > .open > a,
.uber-header.header-8.dark-color .navbar-default .navbar-nav > .open > a:hover,
.uber-header.header-8.dark-color .navbar-default .navbar-nav > .open > a:focus {
  border: 0;
  color: #ffffff;
  background: none;
}
.uber-header.header-8.dark-color .navbar-default .navbar-nav > .active > a,
.uber-header.header-8.dark-color .navbar-default .navbar-nav > .active > a:hover,
.uber-header.header-8.dark-color .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background: none;
}
.uber-header.header-8.dark-color .navbar-default .navbar-nav .dropdown-menu {
  border: 0;
}
.uber-header.header-8.dark-color .site-navigation-right {
  padding-right: 15px;
}
@media screen and (max-width: 1199px) {
  .uber-header.header-8.dark-color .site-navigation-right {
    padding-right: 44px;
  }
}
@media screen and (max-width: 767px) {
  .uber-header.header-8.dark-color .site-navigation-right {
    padding-right: 22.5px;
  }
}
.uber-header.header-8.dark-color .site-navigation-right .off-canvas-toggle {
  border: 0;
  text-transform: none;
  font-weight: 700;
  position: absolute;
  right: 0;
}
@media (max-width: 991px) {
  .uber-header.header-8.dark-color .site-navigation-right .off-canvas-toggle {
    right: 7.5px;
  }
}
.uber-header.header-8.dark-color .site-navigation-right .off-canvas-toggle span {
  display: none;
}
.uber-header.header-8.dark-color .site-navigation-right .off-canvas-toggle .fa {
  margin-left: 0;
}
.uber-header.header-8.dark-color .site-navigation-right .off-canvas-toggle:hover,
.uber-header.header-8.dark-color .site-navigation-right .off-canvas-toggle:focus,
.uber-header.header-8.dark-color .site-navigation-right .off-canvas-toggle:active {
  color: #ffffff;
  background: transparent;
}
.uber-header.header-8.dark-color .site-navigation-right .right-menu ul li > a {
  border: 0;
  text-transform: none;
  font-weight: 700;
  background: #428bca;
  padding: 11px 11px;
  color: #ffffff;
  height: auto;
  line-height: 1;
  border-radius: 2px;
}
@media (min-width: 768px) {
  .uber-header.header-8.dark-color .site-navigation-right .right-menu ul li > a {
    padding: 11px 22px;
  }
}
.uber-header.header-8.dark-color .site-navigation-right .right-menu ul li > a:hover,
.uber-header.header-8.dark-color .site-navigation-right .right-menu ul li > a:focus {
  background: #3071a9;
  color: #ffffff;
}
.uber-header.header-8.dark-color .site-navigation-right .right-menu ul li > a.head-login:after {
  top: 11px;
  color: #ffffff;
  left: 20px;
}
.uber-header.header-8.dark-color .site-navigation-right .right-menu ul li.active > a,
.uber-header.header-8.dark-color .site-navigation-right .right-menu ul li.active > a:hover {
  background: #3071a9;
  color: #ffffff;
}